@{

    Layout = "_SystemAdmin";

}

@section AdminMenu{
    <ul class="menu-ul">
        <a asp-controller="Admin" asp-action="Dashboard" class="menu-option-link">
            <div class="panel-option">
                <li><h5>Dashboard</h5></li>
            </div>
        </a>
        <a asp-controller="Admin" asp-action="Order" class="menu-option-link">
            <div class="panel-option">
                <li><h5>Order</h5></li>
            </div>
        </a>
        <a asp-controller="Admin" asp-action="AdminSetting" class="menu-option-link">
            <div class="panel-option">
                <li><h5>Admin setting</h5></li>
            </div>
        </a>
        <a asp-controller="Admin" asp-action="AdminAccounts" class="menu-option-link">
            <div class="panel-option">
                <li><h5>Admin accounts</h5></li>
            </div>
        </a>
        <a asp-controller="User" asp-action="UserAccounts" class="menu-option-link">
            <div class="panel-option">
                <li><h5>User accounts</h5></li>
            </div>
        </a>
        <a asp-controller="Admin" asp-action="Articles" class="menu-option-link">
            <div class="panel-option-active">
                <li><h5>Articles</h5></li>
            </div>
        </a>
        <a asp-controller="Admin" asp-action="Logout" class="menu-option-link">
            <div class="panel-option">
                <li><h5>Logout</h5></li>
            </div>
        </a>
    </ul>
}

<div class="NewArticle-form" style="margin:100px;">
    <form>
        <div class="row mb-4">
            <div class="col-sm-12">
                <input name="Title" placeholder="Title">
                <span class="text-danger"></span>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 mb-4">
                <div class="card" style="max-height: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="~/img/article/post-image22.jpg" style="width:100%;" alt="" />
                        </div>
                        <div class="col-md-8">
                            <div class="card-body" style="position: relative; height: 100%;">
                                <h3 class="card-title" style="text-align:left;">Browse the post image</h3>
                                <p class="card-text" style="text-align:left; font-size:20px;">Post image should be smaller than 500 KB and dimension</p>
                                <p class="card-text" style="text-align:left; margin-bottom:100px;"><small class="text-muted">Last updated 3 mins ago</small></p>

                                <label class="book-now-btn" for="post-file" style="width:150px; height:50px; position: absolute; bottom: 20px; right: 20px; margin:0 auto;">
                                    Browse
                                    <input id="post-file" type="file" style="opacity:0%;"/>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 mb-4">
                <label for="article-file1" class="card">
                    <img class="Article-Image-Dark" src="~/img/detail/article22-image1.jpg" />
                    <input id="article-file1" type="file" style="display:none;"/>
                </label>
            </div>
            <div class="col-md-4 mb-4">
                <label for="article-file2" class="card">
                    <img class="Article-Image-Dark" src="~/img/detail/article22-image2.jpg" />
                    <input id="article-file2" type="file" style="display:none;" />
                </label>
            </div>
            <div class="col-md-4 mb-4">
                <label for="article-file3" class="card">
                    <img class="Article-Image-Dark" src="~/img/detail/article22-image3.jpg" />
                    <input id="article-file3" type="file" style="display:none;" />
                </label>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 mb-4">
                <div class="card">
                    <div style="background-color:lightgrey; height:500px;"></div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                <button class="book-now-btn" style="width:100%;">
                    Post
                </button>
            </div>
        </div>

    </form>
</div>