@model CrestCouriers_Career.ViewModels.Admin.AddArticleViewModel
@{

    Layout = "_SystemAdmin";

}

@section AdminMenu{
    <ul class="menu-ul">
        <a asp-controller="Admin" asp-action="Dashboard" class="menu-option-link">
            <div class="panel-option">
                <li><h5>Dashboard</h5></li>
            </div>
        </a>
        <a asp-controller="Admin" asp-action="Order" class="menu-option-link">
            <div class="panel-option">
                <li><h5>Order</h5></li>
            </div>
        </a>
        <a asp-controller="Admin" asp-action="AdminSetting" class="menu-option-link">
            <div class="panel-option">
                <li><h5>Admin setting</h5></li>
            </div>
        </a>
        <a asp-controller="Admin" asp-action="AdminAccounts" class="menu-option-link">
            <div class="panel-option">
                <li><h5>Admin accounts</h5></li>
            </div>
        </a>
        <a asp-controller="User" asp-action="UserAccounts" class="menu-option-link">
            <div class="panel-option">
                <li><h5>User accounts</h5></li>
            </div>
        </a>
        <a asp-controller="Admin" asp-action="Articles" class="menu-option-link">
            <div class="panel-option-active">
                <li><h5>Articles</h5></li>
            </div>
        </a>
        <a asp-controller="Admin" asp-action="Logout" class="menu-option-link">
            <div class="panel-option">
                <li><h5>Logout</h5></li>
            </div>
        </a>
    </ul>
}

<script src="https://cdn.tiny.cloud/1/way20vlhgqz69tcnufmr5ox5lvdbrmfrrdv53l38zko5ecvj/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>


<div class="NewArticle-form" style="margin:50px;">
    <form asp-controller="Admin" asp-action="AddArticle" method="post" enctype="multipart/form-data">
        <div class="row mb-4">
            <div class="col-sm-12">
                <input asp-for="Title" placeholder="Title">
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
        </div>

        <div class="row mb-4">
            <div class="col-sm-12">
                <input asp-for="AuthorName" placeholder="AuthorName">
                <span asp-validation-for="AuthorName" class="text-danger"></span>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 mb-4">
                <div class="card">
                    <div class="row g-0">
                        <div class="col-lg-4">
                            <div style="background-image: url(../img/blog/post-image-background.jpg); background-position:center; background-size:cover; height: 100%;" id="Article-Image-Preview">
                                <img src="~/img/article/post-image22.jpg" style="width:100%; opacity:0%;" alt="" />
                            </div>
                        </div>
                        <div class="col-lg-8" style="">
                            <div class="card-body" style="position: relative;">
                                <h3 class="card-title" style="text-align:left;">Browse the post image</h3>
                                <p class="card-text" style="text-align:left; font-size:20px;">Post image should be smaller than 500 KB and 1000 × 667 PX dimension</p>

                                <p class="card-text" style="text-align:left; margin-bottom:100px; margin-top:50px;"><small class="text-muted">Last updated 3 mins ago</small></p>
                                <br>
                                <label class="book-now-btn" for="post-file" style="max-width:150px; height:50px; position: absolute; bottom: 20px; right: 20px; margin:0 auto;">
                                    Browse
                                    <input asp-for="ArticleImage" class="Article-Image-Input" id="post-file" type="file" style="opacity:0%;" />
                                    <span asp-validation-for="ArticleImage" class="text-danger"></span>
                                </label>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 mb-4">
                <label for="article-file1" class="card">
                    <img class="Article-Image-Dark" id="Article-Slide1" src="~/img/blog/slide-images-background.jpg" />
                    <input asp-for="Slides" id="article-file1" type="file" style="display:none;" />
                </label>
            </div>
            <div class="col-md-4 mb-4">
                <label for="article-file2" class="card">
                    <img class="Article-Image-Dark" id="Article-Slide2" src="~/img/blog/slide-images-background.jpg" />
                    <input asp-for="Slides" id="article-file2" type="file" style="display:none;" />
                </label>
            </div>
            <div class="col-md-4 mb-4">
                <label for="article-file3" class="card">
                    <img class="Article-Image-Dark" id="Article-Slide3" src="~/img/blog/slide-images-background.jpg" />
                    <input asp-for="Slides" id="article-file3" type="file" style="display:none;" />
                </label>
            </div>
        </div>

        <div class="row mb-4">
            <div class="col-sm-12">
                <input asp-for="ShortBody" placeholder="Short body">
                <span asp-validation-for="ShortBody" class="text-danger"></span>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 mb-4">

                <textarea asp-for="Body" id="basic-example">

                </textarea>
                <span asp-validation-for="Body"></span>

                <script>

                    tinymce.init({
                        selector: 'textarea#basic-example',
                        height: 500,
                        menubar: false,
                        plugins: [
                            'advlist autolink lists link image charmap print preview anchor',
                            'searchreplace visualblocks code fullscreen',
                            'insertdatetime media table paste code help wordcount'
                        ],
                        toolbar: 'undo redo | ' +
                            'bold italic backcolor forecolor | alignleft aligncenter ' +
                            'alignright alignjustify | bullist numlist outdent indent | ' +
                            'removeformat | help',
                        content_style: 'body { font-family:Helvetica,Arial,sans-serif; font-size:14px }'
                    });

                </script>

            </div>
        </div>

        <div class="row">
            <div class="col-md-2 mb-4">
                <div class="input-group">
                    <input type="text" class="form-control" style="border-radius:0px;" placeholder="Tag name" aria-label="Tag" />
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" onclick="AddTag();" style="border-radius: 0px;" type="button" id="button-addon2">Add</button>
                    </div>
                </div>
            </div>
            <div class="col-md-2 mb-4" id="tag1" style="visibility: hidden;">
                <div class="toast align-items-center TagToast1" style="height:38px;" role="alert" data-autohide="false" aria-live="assertive" aria-atomic="true">
                    <div class="d-flex">
                        <div class="toast-body p-2" style="height:38px; float:left;">
                            tag
                        </div>
                        <button type="button" class="p-2 close" style="float:right; position:absolute; right:20px; height: 38px;" data-dismiss="toast" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-2 mb-4">
                <div class="toast align-items-center TagToast2" style="height:38px;" role="alert" data-autohide="false" aria-live="assertive" aria-atomic="true">
                    <div class="d-flex">
                        <div class="toast-body p-2" style="height:38px; float:left;">
                            tagname
                        </div>
                        <button type="button" class="p-2 close" style="float:right; position:absolute; right:20px; height: 38px;" data-dismiss="toast" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-2 mb-4">
                <div class="toast align-items-center TagToast3" style="height:38px;" role="alert" data-autohide="false" aria-live="assertive" aria-atomic="true">
                    <div class="d-flex">
                        <div class="toast-body p-2" style="height:38px; float:left;">
                            anothertag
                        </div>
                        <button type="button" class="p-2 close" style="float:right; position:absolute; right:20px; height: 38px;" data-dismiss="toast" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-2 mb-4">
                <div class="toast align-items-center TagToast4" style="height:38px;" role="alert" data-autohide="false" aria-live="assertive" aria-atomic="true">
                    <div class="d-flex">
                        <div class="toast-body p-2" style="height:38px; float:left;">
                            newtag
                        </div>
                        <button type="button" class="p-2 close" style="float:right; position:absolute; right:20px; height: 38px;" data-dismiss="toast" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-2 mb-4">
                <div class="toast align-items-center TagToast5" style="height:38px;" role="alert" data-autohide="false" aria-live="assertive" aria-atomic="true">
                    <div class="d-flex">
                        <div class="toast-body p-2" style="height:38px; float:left;">
                            mytag
                        </div>
                        <button type="button" class="p-2 close" style="float:right; position:absolute; right:20px; height: 38px;" data-dismiss="toast" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                <button type="submit" class="book-now-btn" style="width:100%;">
                    Post
                </button>
            </div>
        </div>

    </form>
</div>

<script>
    //$(document).ready(function () {
    //    $(".toast").toast("show");
    //})




    //$("#tag1").css("visibility", "visible");
    //$(".TagToast1").toast("show");







    $('.Article-Image-Input').change(function () {

        var file = this.files[0];
        var reader = new FileReader();
        reader.onloadend = function () {
            $('#Article-Image-Preview').css('background-image', 'url("' + reader.result + '")');
        }
        if (file) {
            reader.readAsDataURL(file);
        } else {
        }

    });

    $('#article-file1').change(function () {

        var slide1 = this.files[0];
        var reader1 = new FileReader();
        reader1.onloadend = function () {
            $('#Article-Slide1').attr('src', reader1.result);
        }
        if (slide1) {
            reader1.readAsDataURL(slide1);
        }
        else {

        }

    });

    $('#article-file2').change(function () {

        var slide2 = this.files[0];
        var reader2 = new FileReader();
        reader2.onloadend = function () {
            $('#Article-Slide2').attr('src', reader2.result);
        }
        if (slide2) {
            reader2.readAsDataURL(slide2);
        }
        else {

        }

    });

    $('#article-file3').change(function () {

        var slide3 = this.files[0];
        var reader3 = new FileReader();
        reader3.onloadend = function () {
            $('#Article-Slide3').attr('src', reader3.result);
        }
        if (slide3) {
            reader3.readAsDataURL(slide3);
        }
        else {

        }

    });

</script>