@{

    Layout = "_SystemAdmin";

}

@section AdminMenu{
    <ul class="menu-ul">
        <a asp-controller="Admin" asp-action="Dashboard" class="menu-option-link">
            <div class="panel-option">
                <li><h5>Dashboard</h5></li>
            </div>
        </a>
        <a asp-controller="Admin" asp-action="Order" class="menu-option-link">
            <div class="panel-option">
                <li><h5>Order</h5></li>
            </div>
        </a>
        <a asp-controller="Admin" asp-action="AdminSetting" class="menu-option-link">
            <div class="panel-option">
                <li><h5>Admin setting</h5></li>
            </div>
        </a>
        <a asp-controller="Admin" asp-action="AdminAccounts" class="menu-option-link">
            <div class="panel-option">
                <li><h5>Admin accounts</h5></li>
            </div>
        </a>
        <a asp-controller="User" asp-action="UserAccounts" class="menu-option-link">
            <div class="panel-option">
                <li><h5>User accounts</h5></li>
            </div>
        </a>
        <a asp-controller="Admin" asp-action="Articles" class="menu-option-link">
            <div class="panel-option-active">
                <li><h5>Articles</h5></li>
            </div>
        </a>
        <a asp-controller="Admin" asp-action="Logout" class="menu-option-link">
            <div class="panel-option">
                <li><h5>Logout</h5></li>
            </div>
        </a>
    </ul>
}
<br />
<br />
<div class="card mb-3" style="margin-left:50px;margin-right:50px;margin-top:10px;">
    <div class="row g-0">

        <div class="col-lg-3">
            <div style="background-image: url(../img/article/post-image22.jpg); background-position:center; background-size:cover; height: 100%;">
                <img src="~/img/article/post-image22.jpg" style="width:100%; opacity:0%;" alt="" />
            </div>
            @*Ghably*@
            @*<img src="~/img/car/car-1.jpg" class="card-img-top float-left" alt="..." style="height:auto;width:250px;">*@
        </div>

        <div class="col-lg-7" style="">
            <div class="card-body float-left " style="text-align:left; position:relative;overflow:auto;height:100%">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                <div class="card-footer bg-transparent border-0" style="text-align:center;bottom:0;position:absolute;background-color:aqua;">
                    <a href="#" style="text-decoration:none!important; color:inherit;margin-right:10px;">Author name</a>
                    <a href="#" style="text-decoration:none!important; color:inherit;margin-right:10px;">Creation date</a>
                </div>

            </div>
        </div>

        <div class="col-lg-2">
            <div style="position: absolute; text-align: center; bottom: 0px; right: 0px; margin-right:20px;margin-bottom:5px;">
                <a href="#" class="btn btn-primary ">Edit</a>
                <a href="#" class="btn btn-primary ">Delete</a>
            </div>
        </div>

    </div>
</div>

<div class="card mb-3" style="margin-left:50px;margin-right:50px;margin-top:10px;">
    <div class="row g-0">

        <div class="col-lg-3">
            <div style="background-image: url(../img/article/post-image22.jpg); background-position:center; background-size:cover; height: 100%;">
                <img src="~/img/article/post-image22.jpg" style="width:100%; opacity:0%;" alt="" />
            </div>
            @*Ghably*@
            @*<img src="~/img/car/car-1.jpg" class="card-img-top float-left" alt="..." style="height:auto;width:250px;">*@
        </div>

        <div class="col-lg-7" style="">
            <div class="card-body float-left " style="text-align:left; position:relative;overflow:auto;height:100%">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                <div class="card-footer bg-transparent border-0" style="text-align:center;bottom:0;position:absolute;background-color:aqua;">
                    <a href="#" style="text-decoration:none!important; color:inherit;margin-right:10px;">Author name</a>
                    <a href="#" style="text-decoration:none!important; color:inherit;margin-right:10px;">Creation date</a>
                </div>

            </div>
        </div>

        <div class="col-lg-2">
            <div style="position: absolute; text-align: center; bottom: 0px; right: 0px; margin-right:20px;margin-bottom:5px;">
                <a href="#" class="btn btn-primary ">Edit</a>
                <a href="#" class="btn btn-primary ">Delete</a>
            </div>
        </div>

    </div>
</div>

<div class="card mb-3" style="margin-left:50px;margin-right:50px;margin-top:10px;">
    <div class="row g-0">

        <div class="col-lg-3">
            <div style="background-image: url(../img/article/post-image22.jpg); background-position:center; background-size:cover; height: 100%;">
                <img src="~/img/article/post-image22.jpg" style="width:100%; opacity:0%;" alt="" />
            </div>
            @*Ghably*@
            @*<img src="~/img/car/car-1.jpg" class="card-img-top float-left" alt="..." style="height:auto;width:250px;">*@
        </div>

        <div class="col-lg-7" style="">
            <div class="card-body float-left " style="text-align:left; position:relative;overflow:auto;height:100%">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                <div class="card-footer bg-transparent border-0" style="text-align:center;bottom:0;position:absolute;background-color:aqua;">
                    <a href="#" style="text-decoration:none!important; color:inherit;margin-right:10px;">Author name</a>
                    <a href="#" style="text-decoration:none!important; color:inherit;margin-right:10px;">Creation date</a>
                </div>

            </div>
        </div>

        <div class="col-lg-2">
            <div style="position: absolute; text-align: center; bottom: 0px; right: 0px; margin-right:20px;margin-bottom:5px;">
                <a href="#" class="btn btn-primary ">Edit</a>
                <a href="#" class="btn btn-primary ">Delete</a>
            </div>
        </div>

    </div>
</div>
