@{

    Layout = "_SystemAdmin";

}

@section AdminMenu{
    <ul class="menu-ul">
        <a asp-controller="Admin" asp-action="Dashboard" class="menu-option-link">
            <div class="panel-option">
                <li><h5>Dashboard</h5></li>
            </div>
        </a>
        <a asp-controller="Admin" asp-action="Order" class="menu-option-link">
            <div class="panel-option">
                <li><h5>Order</h5></li>
            </div>
        </a>
        <a asp-controller="Admin" asp-action="AdminSetting" class="menu-option-link">
            <div class="panel-option">
                <li><h5>Admin setting</h5></li>
            </div>
        </a>
        <a asp-controller="Admin" asp-action="AdminAccounts" class="menu-option-link">
            <div class="panel-option">
                <li><h5>Admin accounts</h5></li>
            </div>
        </a>
        <a asp-controller="User" asp-action="UserAccounts" class="menu-option-link">
            <div class="panel-option">
                <li><h5>User accounts</h5></li>
            </div>
        </a>
        <a asp-controller="Admin" asp-action="Articles" class="menu-option-link">
            <div class="panel-option-active">
                <li><h5>Articles</h5></li>
            </div>
        </a>
        <a asp-controller="Admin" asp-action="Logout" class="menu-option-link">
            <div class="panel-option">
                <li><h5>Logout</h5></li>
            </div>
        </a>
    </ul>
}
<div  class="container-sm-fluid">
    <div style="margin:4%;">
      

        <div class="Article-Item-Box row">
           
        </div>

        <div class="Article-Item-Box row">
            @*<div class="col-start">
                <img src="~/img/car/car-1.jpg" class=" Article-Image float-start" />
            </div>
            <div class="col-8">
                <div class="col"style="margin-top:10px;">
                    <h4>Article Title</h4>
                </div>
                <div class="col">
                    <p>Article short description and first line caption </p>
                </div>
                <div class="col">
                    <a>Author name </a><a style="margin-left:20px;">Creation date </a>
                </div>
            </div>
            <div class="col-end">
                <div class="col">
                    3-1
                </div>
                <div class="col">
                    <button class="btn btn-danger" style="background-color:#fe0000;border:none;width:85px;margin-left:20px;">Edit</button>

                    <button class="btn btn-danger" style="background-color:#fe0000;border:none;width:85px;margin-left:20px;">Delet</button>
                </div>
            </div>*@

        </div>

        <div class="Article-Item-Box row">
            <div style="background-color:blueviolet; width:auto;"><img src="~/img/car/car-1.jpg" class=" Article-Image" /></div>
            <div style="background-color:pink; width:auto;">

                <div class="col" style="margin-top:10px;">
                    <h4>Article Title</h4>
                </div>
                <div class="col">
                    <p>Article short description and first line caption </p>
                </div>
                <div class="col">
                    <a>Author name </a><a style="margin-left:20px;">Creation date </a>
                </div>

            </div>
            <div style=" width:auto; margin-top:155px;">

                <div style="float:right;margin-right:5px;">
                    <button class="btn btn-danger" style="background-color:#fe0000;border:none;width:85px;margin-left:20px;clear:both;">Edit</button>

                    <button class="btn btn-danger" style="background-color:#fe0000;border:none;width:85px;margin-left:20px;clear:both;">Delet</button>
                </div>
                </div>

            </div>
        

        <div class="Article-Item-Box row">
            <div style="background-color:blueviolet; width:20%;">1</div>
            <div style="background-color:pink; width:60%;">2</div>
            <div style="background-color:red; width:20%;">3</div>

        </div>

        <div class="Article-Item-Box row">
            <div class="container">
                <div class="row">
                    <div class="col-8">
                        1
                    </div>
                    <div class="col">
                        <div class="col">
                            2-1
                        </div>
                        <div class="col">
                            2-2
                        </div>

                    </div>
                    <div class="col">
                        <div class="col">
                            3-1
                        </div>
                        <div class="col">
                            <button class="btn btn-danger" style="background-color:#fe0000;border:none;width:85px;margin-left:20px;">Edit</button>

                            <button class="btn btn-danger" style="background-color:#fe0000;border:none;width:85px;margin-left:20px;">Delet</button>
                        </div>
                    </div>
                    
                </div>
    </div>
</div>
</div>
</div>