@model CrestCouriers_Career.ViewModels.Admin.BillViewModel

@{
    ViewData["Title"] = "Bill";
    Layout = "~/Views/Shared/_SystemAccountancyAdmin.cshtml";
}

@section pdfDialog
{}
@section AdminMenu{
    <ul class="menu-ul">
        <a asp-controller="Admin" asp-action="NotConfirmedBill" class="menu-option-link">
            <div class="panel-option">
                <li><h5>Bill</h5></li>
            </div>
        </a>
        <a asp-controller="Admin" asp-action="Bill" class="menu-option-link">
            <div class="panel-option-active">
                <li><h5>New bill</h5></li>
            </div>
        </a>
        <a asp-controller="Admin" asp-action="AdminSettingBill" class="menu-option-link">
            <div class="panel-option">
                <li><h5>Admin setting</h5></li>
            </div>
        </a>
        <a asp-controller="Admin" asp-action="Logout" class="menu-option-link">
            <div class="panel-option">
                <li><h5>Logout</h5></li>
            </div>
        </a>
    </ul>
}


<!-- New01 -->
<form class="billDashbord" asp-controller="Admin" asp-action="Bill" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly"></div>
    <div class="form-group" id="BillFileDiv">
        <p id=""><label for="BillFile" class="BillTextCenter label">Drop your file here</label><input type="file" asp-for="File" class="form-control" id="BillFile" accept=".pdf"></p>
        <div><span asp-validation-for="File"></span></div>
    </div>

    <button type="submit" class="btn btn-primary" id="BillButton">Submit</button>
</form>

<!--<div id="progbar01">
    <div class="progress">
        <div class="progress-bar " id="bar01" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
    </div>-->
<!-- file uploaded icon -->
<!--<img src="~/img/System/LogoMakr-8xQnIo (1).png" class="FileUploadIcon" />-->
<!-- Delet file icon -->
<!--<img src="~/img/System/remove.png" class="FileUploadIcon" />
</div>-->
<!-- EndOfNew01 -->
<script>
        // Add the following code if you want the name of the file appear on select
    $(".form-control").on("change", function () {
            var File = $(this).val().split("\\").pop();
            $(this).siblings(".label").addClass("selected").html(File);
        });
</script>