@model CrestCouriers_Career.ViewModels.AccountViewModels.LoginViewModel
@using Microsoft.Extensions.Options;
@using reCAPTCHA.AspNetCore;
@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@inject SignInManager<Account> SignInManager
@{
    ViewData["Title"] = "Log in";
}
@{ 
    Layout = null;
}


<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/bootstrap2.min.css" />
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="~/css/systemstyle.css" />
</head>
<body style="height:auto;">

    <div class="container">
        <div class="row login-row-style">
            <div class="col-lg-4 login-image">
                <img src="~/img/System/Courier-blog-header-image.png" class="login-image-style" alt="">
            </div>

            <div class="col-lg-8 login-form-area">

                <div class="login-logo-location">
                    <img src="~/img/System/logo-black.png" />
                </div>
                <form asp-controller="User" asp-action="Login" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="input-div-location">
                        <input asp-for="Email" value="" style="margin-bottom:0px;" class="form-control2" placeholder="Username">
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="input-div-location">
                        <input type="password" asp-for="Password" value="" style="margin-bottom:0px;" class="form-control2" placeholder="Password">
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="input-div-location">
                        <label asp-for="RememberMe">
                            <input asp-for="RememberMe" />
                            @Html.DisplayNameFor(m=>m.RememberMe)
                        </label>
                    </div>
                    <div class="button-div-location">
                        <button type="submit" class="book-now-btn" style="margin:0 auto; margin-top:30px;" name="button">Login</button>
                    </div>

                </form>

                <div class="additional-text">
                    <a class="login-single-text" asp-controller="User" asp-action="Login"><h6>Forgot Password</h6></a>
                    <a class="login-single-text" asp-controller="Home" asp-action="Index"><h6>Back to website</h6></a>
                </div>

            </div>

        </div>
    </div>
</body>
</html>
