@model CrestCouriers_Career.Models.User;
@using Microsoft.Extensions.Options;
@using reCAPTCHA.AspNetCore;

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/bootstrap2.min.css" />
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="~/css/systemstyle.css" />
</head>
<body style="height:auto;">

    <div class="container">
        <div class="row login-row-style">
            <div class="col-lg-4 login-image">
                <img src="~/img/System/Courier-blog-header-image.png" class="login-image-style" alt="">
            </div>

            <div class="col-lg-8 login-form-area">

                <div class="login-logo-location">
                    <img src="~/img/System/logo-black.png" />
                </div>
                <form asp-controller="User" asp-action="Login" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="input-div-location">
                        <input asp-for="UserName" class="form-control2" placeholder="Username">
                    </div>
                    <div class="input-div-location">
                        <input asp-for="Password" class="form-control2" placeholder="Password">
                    </div>
                    <div class="button-div-location">
                        <button type="submit" class="book-now-btn" style="margin:0 auto" name="button">Login</button>
                    </div>

                </form>

                <div class="additional-text">
                    <a class="login-single-text" asp-controller="User" asp-action="Login"><h6>Forgot Password</h6></a>
                    <a class="login-single-text" asp-controller="Home" asp-action="Index"><h6>Back to website</h6></a>
                </div>

            </div>

        </div>
    </div>
</body>
</html>


@*<!DOCTYPE html>
    <html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="systemstyle.css" />
    </head>
    <body>

        <div class="container">
            <div class="row">
                <div class="col-lg-4">

                </div>

                <div class="col-lg-4 system-form">

                    <form asp-action="login" asp-controller="User" method="post">

                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div class="input">
                            <input asp-for="UserName" type="text" placeholder="Username">
                            <span asp-validation-for="UserName" class="text-danger"></span>
                        </div>
                        <div class="input">
                            <input asp-for="Password" type="text" placeholder="Password">
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="input">
                            <button type="submit">Login</button>
                        </div>

                    </form>

                </div>

                <div class="col-lg-4">

                </div>

            </div>
        </div>
    </body>
    </html>*@
