@model CrestCouriers_Career.ViewModels.User.OrderViewModel

@{
    ViewData["Title"] = "Order";
    Layout = "~/Views/Shared/_System.cshtml";
}

@section UserMenu{
    <ul class="menu-ul">
        <a asp-controller="User" asp-action="Dashboard" class="menu-option-link">
            <div class="panel-option">
                <li><h5>Dashboard</h5></li>
            </div>
        </a>
        <a asp-controller="User" asp-action="Order" class="menu-option-link">
            <div class="panel-option-active">
                <li><h5>Order</h5></li>
            </div>
        </a>
        <a asp-controller="User" asp-action="UserInformation" class="menu-option-link">
            <div class="panel-option">
                <li><h5>User</h5></li>
            </div>
        </a>
        <a asp-controller="User" asp-action="Logout" class="menu-option-link">
            <div class="panel-option">
                <li><h5>Logout</h5></li>
            </div>
        </a>
    </ul>
}



<div class="NewOrder-form" style="margin:100px;">
    <form asp-controller="User" asp-action="Order">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="row">

            <div class="col-sm-6">
                <div class="input-group mb-1">
                    <input type="text" asp-for="OriginRecipient" class="form-control" style="border-radius:0px;" placeholder="Recipient" aria-label="Recipient" aria-describedby="basic-addon1">
                    <span asp-validation-for="OriginRecipient" class="text-danger"></span>
                    <div class="input-group-prepend" style="margin:0;">
                        <span class="input-group-text" id="basic-addon1">or</span>
                    </div>
                    <input type="text"  asp-for="OriginCompany" class="form-control" style="border-radius:0px;" placeholder="Company" aria-label="Company" aria-describedby="basic-addon1">
                </div>
            </div>

            <div class="col-sm-6">
                <div class="input-group mb-1">
                    <input type="text" asp-for="DestinationRecipient" class="form-control" style="border-radius:0px;" placeholder="Recipient" aria-label="Recipient" aria-describedby="basic-addon1">
                    <span asp-validation-for="DestinationRecipient"></span>
                    <div class="input-group-prepend" style="margin:0;">
                        <span class="input-group-text" id="basic-addon1">or</span>
                    </div>
                    <input type="text" asp-for="DestinationCompany" class="form-control" style="border-radius:0px;" placeholder="Company" aria-label="Company" aria-describedby="basic-addon1">
                    <span asp-validation-for="DestinationCompany"></span>
                </div>
            </div>

        </div>

        <div class="row">

            <div class="col-sm-6">
                <div class="order-input input-group">
                    <input type="text" asp-for="OriginAddress" class="form-control" style="border-radius:0px;" placeholder="Origin address" aria-label="Origin address" aria-describedby="button-addon2">
                    <span asp-validation-for="OriginAddress" class="text-danger"></span>
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" onclick="AddOrigin()" style="border-radius:0px;" type="button" id="button-addon2">+</button>
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="order-input input-group">
                    <input type="text" asp-for="DestinationAddress" asp-controller="" class="form-control" style="border-radius:0px;" placeholder="Destination address" aria-label="Destination address" aria-describedby="button-addon2">
                    <span asp-validation-for="DestinationAddress" class="text-danger"></span>
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" onclick="AddDestination()" style="border-radius:0px;" type="button" id="button-addon2">+</button>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">

            <div class="col-sm-6" id="Origin2" style="display:none;">
                <div class="order-input input-group">
                    <input type="text" asp-for="OriginAddress2" class="form-control" style="border-radius:0px;" placeholder="Origin address 2" aria-label="Origin address" aria-describedby="button-addon2">
                    <span asp-validation-for="OriginAddress2" class="text-danger"></span>
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" onclick="CloseOrigin()" style="border-radius:0px;" type="button" id="button-addon2">-</button>
                    </div>
                </div>
            </div>

            <div class="col-sm-6" id="Destination2" style="display:none;">
                <div class="order-input input-group">
                    <input type="text" asp-for="DestinationAddress2" class="form-control" style="border-radius:0px;" placeholder="Destination address 2" aria-label="Destination address" aria-describedby="button-addon2">
                    <span asp-validation-for="DestinationAddress2" class="text-danger"></span>
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" onclick="CloseDestination()" style="border-radius:0px;" type="button" id="button-addon2">-</button>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">

            <div class="col-sm-6" id="Origin3" style="display:none;">
                <div class="order-input input-group">
                    <input type="text" asp-for="DestinationAddress3" class="form-control" style="border-radius:0px;" placeholder="Origin address 3" aria-label="Origin address" aria-describedby="button-addon2">
                    <span asp-validation-for="DestinationAddress3" class="text-danger"></span>
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" onclick="CloseOrigin()" style="border-radius:0px;" type="button" id="button-addon2">-</button>
                    </div>
                </div>
            </div>

            <div class="col-sm-6" id="Destination3" style="display:none;">
                <div class="order-input input-group">
                    <input type="text" asp-for="DestinationAddress3" class="form-control" style="border-radius:0px;" placeholder="Destination address 3" aria-label="Destination address" aria-describedby="button-addon2">
                    <span asp-validation-for="DestinationAddress3" class="text-danger"></span>
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" onclick="CloseDestination()" style="border-radius:0px;" type="button" id="button-addon2">-</button>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">

            <div class="col-sm-6">
                <div class="order-input">
                    <input asp-for="OriginTown" placeholder="Origin town">
                    <span asp-validation-for="OriginTown" class="text-danger"></span>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="order-input">
                    <input asp-for="DestinationTown" placeholder="Destination town">
                    <span asp-validation-for="DestinationTown" class="text-danger"></span>
                </div>
            </div>

        </div>

        <div class="row">

            <div class="col-sm-6">
                <div class="order-input">
                    <input asp-for="OriginPostcode" placeholder="Origin postcode">
                    <span asp-validation-for="OriginPostcode" class="text-danger"></span>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="order-input">
                    <input asp-for="DestinationPostcode" placeholder="Destination postcode">
                    <span asp-validation-for="DestinationPostcode" class="text-danger"></span>
                </div>
            </div>

        </div>

        <div class="row">

            <div class="col-sm-6">
                <div class="order-input">
                    <input asp-for="CollectionDate" placeholder="Recieve date">
                    <span asp-validation-for="CollectionDate" class="text-danger"></span>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="order-input">
                    <input asp-for="DeliveryDate" placeholder="Delivery date">
                    <span asp-validation-for="DeliveryDate" class="text-danger"></span>
                </div>
            </div>

        </div>

        <div class="row">

            <div class="col-sm-12">
                <div class="order-input input-group">
                    <input asp-for="CarType" type="text" style="border-radius:0px;" class="form-control" aria-label="Text input with dropdown button" placeholder="Car type">
                    <span asp-validation-for="CarType" class="text-danger"></span>
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Car type
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item">Van</a>
                            <a class="dropdown-item">Taxi</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">

            <div class="col-sm-12">
                <div class="input-submit">
                    <button type="submit" class="book-now-btn" style="color:white; padding-top:14px;" name="button"><h5>submit new order</h5></button>
                </div>
            </div>

        </div>
    </form>
</div>


<script>
    function AddOrigin()
    {
        var x = document.getElementById('Origin2');
        var y = document.getElementById('Origin3');

        if (x.style.display === 'none') {

            x.style.display = 'block';

        }
        else if (x.style.display === 'block')
        {

            y.style.display = 'block';

        }
    }

    function AddDestination()
    {
        var x = document.getElementById('Destination2');
        var y = document.getElementById('Destination3');

        if (x.style.display === 'none') {

            x.style.display = 'block';

        }
        else if (x.style.display === 'block')
        {

            y.style.display = 'block';

        }
    }

    function CloseOrigin()
    {
        var x = document.getElementById('Origin2');
        var y = document.getElementById('Origin3');

        if (y.style.display === 'block')
        {

            y.style.display = 'none';

        }
        else if (y.style.display === 'none')
        {

            x.style.display = 'none';

        }

    }

    function CloseDestination() {
        var x = document.getElementById('Destination2');
        var y = document.getElementById('Destination3');

        if (y.style.display === 'block') {

            y.style.display = 'none';

        }
        else if (y.style.display === 'none') {

            x.style.display = 'none';

        }

    }

</script>