@model CrestCouriers_Career.Models.User;
@using Microsoft.Extensions.Options
@using reCAPTCHA.AspNetCore;

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
          asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
          asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
    <link rel="stylesheet" href="systemstyle.css" />
</head>
<body>

    <div class="container">
        <div class="row">
            <div class="col-lg-4">

            </div>

            <div class="col-lg-4 system-form">
                <form asp-action="register" asp-controller="User" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="input">
                        <input asp-for="FirstName" type="text" name="" value="Firstname">
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                    <div class="input">
                        <input asp-for="LastName" type="text" name="" value="Lastname">
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                    <div class="input">
                        <input asp-for="UserName" type="text" name="" value="Username">
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                    <div class="input">
                        <input asp-for="Password" type="text" name="" value="Password">
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="input">
                        <input asp-for="PhoneNumber" type="text" name="" value="Phone number">
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>
                    <div class="input">
                        <input asp-for="EmailAddress" type="text" name="" value="Email address">
                        <span asp-validation-for="EmailAddress" class="text-danger"></span>
                    </div>

                    <div class="input">
                        <button type="button" name="button">Register</button>
                    </div>

                </form>
            </div>

            <div class="col-lg-4">

            </div>

        </div>
    </div>
</body>
</html>
