@model CrestCouriers_Career.ViewModels.AccountViewModels.RegisterViewModel;
@using Microsoft.Extensions.Options
@using reCAPTCHA.AspNetCore;


@inject IOptions<RecaptchaSettings> RecaptchaSettings

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="~/js/bootstrap.min.js"></script>

<script src="https://www.google.com/recaptcha/api.js" async defer></script>


@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/bootstrap2.min.css" />
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="~/css/systemstyle.css" />
</head>
<body style="height:auto;">
    <div class="container">
        <div class="row login-row-style">
            <div class="col-lg-4 login-image">
                <img src="~/img/System/Courier-blog-header-image.png" class="login-image-style" alt="">
            </div>

            <div class="col-lg-8 login-form-area">
                <form asp-controller="User" asp-action="Register" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="row">
                        <div class="login-logo-location">
                            <img src="~/img/System/logo-black.png" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-div-location-right">
                            <input asp-for="Username" style="margin-bottom:0;" class="form-control2" placeholder="Username">
                            <span asp-validation-for="Username" class="text-danger"></span>
                        </div>
                        <div class="input-div-location-left">
                            <input asp-for="Email" style="margin-bottom:0;" class="form-control2" placeholder="Email">
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-div-location-right">
                            <input asp-for="Password" style="margin-bottom:0;" class="form-control2" placeholder="Password">
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="input-div-location-left">
                            <input asp-for="ConfirmPassword" style="margin-bottom:0;" class="form-control2" placeholder="ConfirmPassword">
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-div-location-right">
                            <input asp-for="Firstname" style="margin-bottom:0;" class="form-control2" placeholder="First Name">
                            <span asp-validation-for="Firstname" class="text-danger"></span>
                        </div>
                        <div class="input-div-location-left">
                            <input asp-for="Lastname" style="margin-bottom:0;" class="form-control2" placeholder="Surname">
                            <span asp-validation-for="Lastname" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="button-div-location">
                            <button type="submit" style="margin-top:30px;" class="book-now-btn" style="" name="button">Register</button>
                        </div>
                    </div>

                    <div class="additional-text">
                        <a class="login-single-text" asp-controller="User" asp-action="register"><h6>Forgot Password</h6></a>
                        <a class="login-single-text" asp-controller="Home" asp-action="Index"><h6>Back to website</h6></a>
                    </div>
                </form>

            </div>

        </div>
    </div>


    <div id="confirmbox-delete" class="modal fade confirmbox-RepeatedUser">
        <div class="modal-dialog">
            <div class="modal-content" style="width: 600px;padding: 0px;">

                <div class="modal-header" style="border-bottom-color:red;">
                    <h2 class="update-box-header">Delete order</h2>
                </div>

                <div class="modal-body">




                    <div class="popup-admin-deactive">

                        <div class="NewOrder-form">

                            <div class="row">

                                <div class="col-sm-12">
                                    <div class="order-input">
                                        <p>The username is already taken. Please choose another username.</p>
                                    </div>
                                </div>

                            </div>

                            <div class="row">

                                <div class="col-sm-12">
                                    <div class="input-submit" style="text-align:center;">
                                        <button type="submit" id="close" onclick="CloseModal();" class="book-now-btn" style="color:white; padding-top:14px;" name="button"><h5>Close</h5></button>
                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>

                </div>


            </div>
        </div>
    </div>






</body>
</html>

<script type="text/javascript">

    var value = "@ViewData["RepeatedUser"]";
    $(document).ready(function() {

        if (value == "yes") {
            $(".confirmbox-RepeatedUser").modal('show');
        }
        document.getElementById("close").onclick = CloseModal;
        function CloseModal() {
            $(".confirmbox-RepeatedUser").modal('hide');
        }

    });

</script>

