@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860

*@
@{
    Layout = "_Layout";
    ViewData["Title"] = "Blog";
}

@section Menu{
    <div class="col-lg-8 d-none d-xl-block" style="-ms-flex: 0 0 66.666667%; flex: 0 0 66.666667%; max-width: 66.666667%">
        <nav class="mainmenu alignright">
            <ul>
                <li>
                    <a asp-controller="Home" asp-action="Index">Home</a>

                </li>
                <li><a asp-controller="Home" asp-action="About">About</a></li>
                <li><a asp-controller="Home" asp-action="Services">services</a></li>
                <li><a asp-controller="Home" asp-action="Branches">Branches</a></li>
                <li class="active"><a asp-controller="Home" asp-action="Blog">Blog</a></li>
                <li><a asp-controller="Home" asp-action="Careertype">Careers</a></li>
                <li><a asp-controller="Home" asp-action="Contact">Contact</a></li>

            </ul>
        </nav>
    </div>
}


<!--== Car List Area Start ==-->
<div id="blog-page-content" class="section-padding">
    <div class="container">
        <div class="row">
            <!-- Single Articles Start -->

            <div class="col-lg-12">
                <article class="single-article">
                    <div class="row">
                        <!-- Articles Thumbnail Start -->
                        <div class="col-lg-5">
                            <div class="article-thumb">
                                <img src="~/img/article/post-image11.jpg" alt="JSOFT">
                            </div>
                        </div>
                        <!-- Articles Thumbnail End -->
                        <!-- Articles Content Start -->
                        <div class="col-lg-7">
                            <div class="display-table">
                                <div class="display-table-cell">
                                    <div class="article-body">
                                        <h3><a href="article-details.html">NHS Is Saving Lives, But Who Will Save the Environment?</a></h3>
                                        <div class="article-meta">
                                            <a href="#" class="author">By :: <span>Ali N Khan</span></a>
                                            <a href="#" class="commnet">Comments :: <span>0</span></a>
                                        </div>

                                        <div class="article-date">25 <span class="month">jan</span></div>

                                        <p>The National Health Service relies heavily on courier services to carry out its daily tasks.</p>

                                        <a href="article-details.html" class="readmore-btn">Read More <i class="fa fa-long-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Articles Content End -->
                    </div>
                </article>
            </div>

            <!-- Single Articles End -->
            <!-- Single Articles Start -->

            <div class="col-lg-12">
                <article class="single-article middle">
                    <div class="row">

                        <!-- articles thumbnail start -->
                        <div class="col-lg-5 d-xl-none">
                            <div class="article-thumb">
                                <img src="assets/img/article/arti-thumb-4.jpg" alt="jsoft">
                            </div>
                        </div>
                        <!-- articles thumbnail end -->
                        <!-- articles content start -->
                        <div class="col-lg-7">
                            <div class="display-table">
                                <div class="display-table-cell">
                                    <div class="article-body">
                                        <h3><a href="article-details.html">5 Ways Courier Drivers Can Increase Fuel Efficiency & Reduce Their Carbon Footprint</a></h3>
                                        <div class="article-meta">
                                            <a href="#" class="author">by :: <span>Ali N Khan</span></a>
                                            <a href="#" class="commnet">comments :: <span>0</span></a>
                                        </div>

                                        <div class="article-date">25 <span class="month">jan</span></div>

                                        <p>One of the biggest challenges faced by courier services is to keep their fuel costs in check. </p>

                                        <a href="article-details.html" class="readmore-btn">read more <i class="fa fa-long-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- articles content end -->
                        <!-- articles thumbnail start -->
                        <div class="col-lg-5 d-none d-xl-block">
                            <div class="article-thumb">
                                <img src="~/img/article/arti-thumb-4.jpg" alt="jsoft">
                            </div>
                        </div>
                        <!-- articles thumbnail end -->
                    </div>
                </article>
            </div>

            <!-- Single Articles End -->
            <!-- Single Articles Start -->

            <div class="col-lg-12">
                <article class="single-article">
                    <div class="row">
                        <!-- Articles Thumbnail Start -->
                        <div class="col-lg-5">
                            <div class="article-thumb">
                                <img src="~/img/article/post-image9.jpg" alt="JSOFT">
                            </div>
                        </div>
                        <!-- Articles Thumbnail End -->
                        <!-- Articles Content Start -->
                        <div class="col-lg-7">
                            <div class="display-table">
                                <div class="display-table-cell">
                                    <div class="article-body">
                                        <h3><a href="article-details.html">What Value Do Electric Vehicles Bring to Courier Brands?</a></h3>
                                        <div class="article-meta">
                                            <a href="#" class="author">By :: <span>Ali N Khan</span></a>
                                            <a href="#" class="commnet">Comments :: <span>0</span></a>
                                        </div>

                                        <div class="article-date">25 <span class="month">jan</span></div>

                                        <p>Around the world, there has been a growing concern among customers about the carbon footprint of the services they consume.</p>

                                        <a href="article-details.html" class="readmore-btn">Read More <i class="fa fa-long-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Articles Content End -->
                    </div>
                </article>
            </div>

            <!-- Single Articles End -->
            <!-- Single Articles Start -->

            <div class="col-lg-12">
                <article class="single-article middle">
                    <div class="row">

                        <!-- articles thumbnail start -->
                        <div class="col-lg-5 d-xl-none">
                            <div class="article-thumb">
                                <img src="~/img/article/post-image8.jpg" alt="jsoft">
                            </div>
                        </div>
                        <!-- articles thumbnail end -->
                        <!-- articles content start -->
                        <div class="col-lg-7">
                            <div class="display-table">
                                <div class="display-table-cell">
                                    <div class="article-body">
                                        <h3><a href="article-details.html">How Does Online Shopping Affect the Environment?</a></h3>
                                        <div class="article-meta">
                                            <a href="#" class="author">by :: <span>Ali N Khan</span></a>
                                            <a href="#" class="commnet">comments :: <span>0</span></a>
                                        </div>

                                        <div class="article-date">25 <span class="month">jan</span></div>

                                        <p>Everyone loves online shopping. After all, what is not to love about having ample time to go through products and their prices.</p>

                                        <a href="article-details.html" class="readmore-btn">read more <i class="fa fa-long-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- articles content end -->
                        <!-- articles thumbnail start -->
                        <div class="col-lg-5 d-none d-xl-block">
                            <div class="article-thumb">
                                <img src="~/img/article/post-image8.jpg" alt="jsoft">
                            </div>
                        </div>
                        <!-- articles thumbnail end -->
                    </div>
                </article>
            </div>

            <!-- Single Articles End -->
            <!-- Single Articles Start -->

            <div class="col-lg-12">
                <article class="single-article">
                    <div class="row">
                        <!-- Articles Thumbnail Start -->
                        <div class="col-lg-5">
                            <div class="article-thumb">
                                <img src="~/img/article/post-image7.jpg" alt="JSOFT">
                            </div>
                        </div>
                        <!-- Articles Thumbnail End -->
                        <!-- Articles Content Start -->
                        <div class="col-lg-7">
                            <div class="display-table">
                                <div class="display-table-cell">
                                    <div class="article-body">
                                        <h3><a href="article-details.html">COVID-19: How Have Courier Services Impacted the Construction Business</a></h3>
                                        <div class="article-meta">
                                            <a href="#" class="author">By :: <span>Ali N Khan</span></a>
                                            <a href="#" class="commnet">Comments :: <span>0</span></a>
                                        </div>

                                        <div class="article-date">25 <span class="month">jan</span></div>

                                        <p>Courier service providers assist business owners across all industries in the UK. The construction sector is also one such industry that relies heavily on couriers for its business operations. </p>

                                        <a href="article-details.html" class="readmore-btn">Read More <i class="fa fa-long-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Articles Content End -->
                    </div>
                </article>
            </div>

            <!-- Single Articles End -->
            <!-- Single Articles Start -->

            <div class="col-lg-12">
                <article class="single-article middle">
                    <div class="row">

                        <!-- articles thumbnail start -->
                        <div class="col-lg-5 d-xl-none">
                            <div class="article-thumb">
                                <img src="~/img/article/post-image6.jpg" alt="jsoft">
                            </div>
                        </div>
                        <!-- articles thumbnail end -->
                        <!-- articles content start -->
                        <div class="col-lg-7">
                            <div class="display-table">
                                <div class="display-table-cell">
                                    <div class="article-body">
                                        <h3><a href="article-details.html">How Are Courier Services Helpful for Accountants and Solicitors?</a></h3>
                                        <div class="article-meta">
                                            <a href="#" class="author">by :: <span>Ali N Khan</span></a>
                                            <a href="#" class="commnet">comments :: <span>0</span></a>
                                        </div>

                                        <div class="article-date">25 <span class="month">jan</span></div>

                                        <p>A major responsibility that couriers have is delivering important, confidential documents on time.</p>

                                        <a href="article-details.html" class="readmore-btn">read more <i class="fa fa-long-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- articles content end -->
                        <!-- articles thumbnail start -->
                        <div class="col-lg-5 d-none d-xl-block">
                            <div class="article-thumb">
                                <img src="~/img/article/post-image6.jpg" alt="jsoft">
                            </div>
                        </div>
                        <!-- articles thumbnail end -->
                    </div>
                </article>
            </div>

            <!-- Single Articles End -->
            <!-- Single Articles Start -->

            <div class="col-lg-12">
                <article class="single-article">
                    <div class="row">
                        <!-- Articles Thumbnail Start -->
                        <div class="col-lg-5">
                            <div class="article-thumb">
                                <img src="~/img/article/post-image5.jpg" alt="JSOFT">
                            </div>
                        </div>
                        <!-- Articles Thumbnail End -->
                        <!-- Articles Content Start -->
                        <div class="col-lg-7">
                            <div class="display-table">
                                <div class="display-table-cell">
                                    <div class="article-body">
                                        <h3><a href="article-details.html">Rising Prices Over Major Shipping Problems</a></h3>
                                        <div class="article-meta">
                                            <a href="#" class="author">By :: <span>Ali N Khan</span></a>
                                            <a href="#" class="commnet">Comments :: <span>0</span></a>
                                        </div>

                                        <div class="article-date">25 <span class="month">jan</span></div>

                                        <p>The supply chain in the UK has come under strain due to the pandemic, the increased demands of goods over Christmas, caused by Brexit. </p>

                                        <a href="article-details.html" class="readmore-btn">Read More <i class="fa fa-long-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Articles Content End -->
                    </div>
                </article>
            </div>

            <!-- Single Articles End -->
            <!-- Single Articles Start -->

            <div class="col-lg-12">
                <article class="single-article middle">
                    <div class="row">

                        <!-- articles thumbnail start -->
                        <div class="col-lg-5 d-xl-none">
                            <div class="article-thumb">
                                <img src="~/img/article/post-image4.jpg" alt="jsoft">
                            </div>
                        </div>
                        <!-- articles thumbnail end -->
                        <!-- articles content start -->
                        <div class="col-lg-7">
                            <div class="display-table">
                                <div class="display-table-cell">
                                    <div class="article-body">
                                        <h3><a href="article-details.html">Christmas in the Times of the Coronavirus and Brexit</a></h3>
                                        <div class="article-meta">
                                            <a href="#" class="author">by :: <span>Ali N Khan</span></a>
                                            <a href="#" class="commnet">comments :: <span>0</span></a>
                                        </div>

                                        <div class="article-date">25 <span class="month">jan</span></div>

                                        <p>When the UK's planned exit from the European Union becomes official in 2021, many things will change for businesses who import and export goods to and from the UK.</p>

                                        <a href="article-details.html" class="readmore-btn">read more <i class="fa fa-long-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- articles content end -->
                        <!-- articles thumbnail start -->
                        <div class="col-lg-5 d-none d-xl-block">
                            <div class="article-thumb">
                                <img src="~/img/article/post-image4.jpg" alt="jsoft">
                            </div>
                        </div>
                        <!-- articles thumbnail end -->
                    </div>
                </article>
            </div>

            <!-- Single Articles End -->
            <!--Single Articles Start -->

            <div class="col-lg-12">
                <article class="single-article">
                    <div class="row">
                        <!-- Articles Thumbnail Start -->
                        <div class="col-lg-5">
                            <div class="article-thumb">
                                <img src="~/img/article/post-image3.jpg" alt="JSOFT">
                            </div>
                        </div>
                        <!-- Articles Thumbnail End -->
                        <!-- Articles Content Start -->
                        <div class="col-lg-7">
                            <div class="display-table">
                                <div class="display-table-cell">
                                    <div class="article-body">
                                        <h3><a href="article-details.html">Lorries Across UK Are Being Targeted by Thieves</a></h3>
                                        <div class="article-meta">
                                            <a href="#" class="author">By :: <span>Ali N Khan</span></a>
                                            <a href="#" class="commnet">Comments :: <span>0</span></a>
                                        </div>

                                        <div class="article-date">25 <span class="month">jan</span></div>

                                        <p>Lorry drivers are responsible for providing essential supplies to citizens across the country. In fact, they were identified as key workers by the government during the pandemic. </p>

                                        <a href="article-details.html" class="readmore-btn">Read More <i class="fa fa-long-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Articles Content End -->
                    </div>
                </article>
            </div>



            <!--Single Articles End  -->
            <!-- Single Articles Start -->

            <div class="col-lg-12">
                <article class="single-article middle">
                    <div class="row">

                        <!-- Articles Thumbnail Start -->
                        <div class="col-lg-5 d-xl-none">
                            <div class="article-thumb">
                                <img src="~/img/article/arti-thumb-2.jpg" alt="JSOFT">
                            </div>
                        </div>
                        <!-- Articles Thumbnail End -->
                        <!-- Articles Content Start -->
                        <div class="col-lg-7">
                            <div class="display-table">
                                <div class="display-table-cell">
                                    <div class="article-body">
                                        <h3><a href="article-details.html">Brexit: Is the UK Logistics Industry Ready for the Transition Period to End?</a></h3>
                                        <div class="article-meta">
                                            <a href="#" class="author">By :: <span>Ali N Khan</span></a>
                                            <a href="#" class="commnet">Comments :: <span>0</span></a>
                                        </div>

                                        <div class="article-date">25 <span class="month">jan</span></div>

                                        <p>The UK formally exited the EU on 31st January 2020. The 11-month transition period meant for negotiating a new trade deal will come to an end on 31st December.</p>

                                        <a href="article-details.html" class="readmore-btn">Read More <i class="fa fa-long-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Articles Content End -->
                        <!-- Articles Thumbnail Start -->
                        <div class="col-lg-5 d-none d-xl-block">
                            <div class="article-thumb">
                                <img src="~/img/article/post-image2.jpg" alt="JSOFT">
                            </div>
                        </div>
                        <!-- Articles Thumbnail End -->
                    </div>
                </article>
            </div>

            <!-- Single Articles End -->
            <!-- Single Articles Start -->

            <div class="col-lg-12">
                <article class="single-article">
                    <div class="row">
                        <!-- Articles Thumbnail Start -->
                        <div class="col-lg-5">
                            <div class="article-thumb">
                                <img src="~/img/article/post-image.jpg" alt="JSOFT">
                            </div>
                        </div>
                        <!-- Articles Thumbnail End -->
                        <!-- Articles Content Start -->
                        <div class="col-lg-7">
                            <div class="display-table">
                                <div class="display-table-cell">
                                    <div class="article-body">
                                        <h3><a href="article-details.html">The impact of the Corona virus pandemic within the Transport sector</a></h3>
                                        <div class="article-meta">
                                            <a href="#" class="author">By :: <span>Sarah</span></a>
                                            <a href="#" class="commnet">Comments :: <span>0</span></a>
                                        </div>

                                        <div class="article-date">29 <span class="month">dec</span></div>

                                        <p>As the year commenced the spread of the COVID-19 virus is one that is yet to be contained, continuing to affect millions of jobs and sectors every day.</p>

                                        <a asp-controller="Home" asp-action="Details" class="readmore-btn">Read More <i class="fa fa-long-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Articles Content End -->
                    </div>
                </article>
            </div>

            <!-- Single Articles End -->

        </div>

        <div class="row">
            <!-- Page Pagination Start -->
            <div class="col-lg-12">
                <div class="page-pagi">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                            @*
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><a class="page-link" href="#">4</a></li>
                                <li class="page-item"><a class="page-link" href="#">5</a></li>
                            *@
                            <li class="page-item"><a class="page-link" href="#">Next</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- Page Pagination End -->
        </div>
    </div>
</div>
<!--== Car List Area End ==-->
