
@{
    ViewData["Title"] = "careertype";
    Layout = "~/Views/Shared/_Crest.cshtml";
}




<div class="career-typecategory">

    <div class="career-type-title">
        <p class="career-type-title-text">Latest Vacancies</p>
    </div>


    <div class="career-type-box">
        <div class="career-type-text">
            <p class="career-type-head">Courier driver - Birmingham</p>
            <p class="career-type-body">Permanent - Fulltime</p>
        </div>
        <div class="career-type-button">
            <form asp-controller="Home" asp-action="careerinfo" asp-route-id="Birmingham">
                <input class="career-type-button-style" value="Find more" type="submit" />
            </form>
         </div>
    </div>

    <div class="career-type-box">
        <div class="career-type-text">
            <p class="career-type-head">Courier driver - Coventry</p>
            <p class="career-type-body">Permanent - Fulltime</p>
        </div>
        <div class="career-type-button">
            <form asp-controller="Home" asp-action="careerinfo" asp-route-id="Coventry">
                <input class="career-type-button-style" value="Find more" type="submit" />
            </form>
        </div>
    </div>

    <div class="career-type-box">
        <div class="career-type-text">
            <p class="career-type-head">Delivery driver - Leeds</p>
            <p class="career-type-body">Permanent - Fulltime</p>
        </div>
        <div class="career-type-button">
            <form asp-controller="Home" asp-action="careerinfo" asp-route-id="Leeds">
                <input class="career-type-button-style" value="Find more" type="submit" />
            </form>
        </div>
    </div>

    <div class="career-type-box">
        <div class="career-type-text">
            <p class="career-type-head">Delivery driver - Oldham</p>
            <p class="career-type-body">Permanent - Fulltime</p>
        </div>
        <div class="career-type-button">
            <form asp-controller="Home" asp-action="careerinfo" asp-route-id="Oldham">
                <input class="career-type-button-style" value="Find more" type="submit" />
            </form>
        </div>
    </div>

</div>
