@{
    ViewData["Title"] = "Delivery report";
}
    <div style="background-color:white; width:50%; margin:20% auto; text-align:center;">


        <div style="margin:10%">
            <img src="~/tick.png"/>
        </div>
        <div>
            <h1>@ViewData["Title"]</h1>

            <p>Your message has been sent correctly</p>
        </div>
    </div>
    <a href="Index"><p>Back to home</p></a>