
@{
    ViewData["Title"] = "careertype";
    Layout = "~/Views/Shared/_Crest.cshtml";
}


<br>
<br>
<div class="container" style="margin-top:50px; margin-bottom:50px;">



    <div class="row">

        <div class="col-sm-12">
            <h1 class="career-type-title-text">LATEST VACANCIES</h1>
        </div>

    </div>
    <br>
    <div class="row" style="margin-top:20px;">
        <div class="col-sm-6">
            <div class="career-type-box">
                <div class="career-type-text">
                    <p class="career-type-head">Courier Driver - Birmingham</p>
                    <p class="career-type-body">Permanent - Full time</p>
                </div>
                <div class="career-type-button">
                    <form asp-controller="Home" asp-action="careerinfo" asp-route-id="Birmingham">
                        <input class="book-now-btn" style="float:right;" value="Find more" type="submit" />
                    </form>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="career-type-box">
                <div class="career-type-text">
                    <p class="career-type-head">Courier Driver - Coventry</p>
                    <p class="career-type-body">Permanent - Full time</p>
                </div>
                <div class="career-type-button">
                    <form asp-controller="Home" asp-action="careerinfo" asp-route-id="Coventry">
                        <input class="book-now-btn" style="float:right;" value="Find more" type="submit" />
                    </form>
                </div>
            </div>
        </div>

    </div>

    <div class="row">

        <div class="col-sm-6">
            <div class="career-type-box">
                <div class="career-type-text">
                    <p class="career-type-head">Courier Driver - Leeds</p>
                    <p class="career-type-body">Permanent - Full time</p>
                </div>
                <div class="career-type-button">
                    <form asp-controller="Home" asp-action="careerinfo" asp-route-id="Leeds">
                        <input class="book-now-btn" style="float:right;" value="Find more" type="submit" />
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="career-type-box">
                <div class="career-type-text">
                    <p class="career-type-head">Courier Driver - Oldham</p>
                    <p class="career-type-body">Permanent - Full time</p>
                </div>
                <div class="career-type-button">
                    <form asp-controller="Home" asp-action="careerinfo" asp-route-id="Oldham">
                        <input class="book-now-btn" style="float:right;" value="Find more" type="submit" />
                    </form>
                </div>
            </div>
        </div>

    </div>



</div>
<br>
