@model CrestCouriers_Career.Models.Contact
@using Microsoft.Extensions.Options
@using reCAPTCHA.AspNetCore

@inject IOptions<RecaptchaSettings> RecaptchaSettings

    <script src="https://www.google.com/recaptcha/api.js" async defer></script>

@section Menu{
    <div class="col-lg-8 d-none d-xl-block" style="-ms-flex: 0 0 66.666667%; flex: 0 0 66.666667%; max-width: 66.666667%">
        <nav class="mainmenu alignright">
            <ul>
                <li>
                    <a asp-controller="Home" asp-action="Index">Home</a>

                </li>
                <li><a asp-controller="Home" asp-action="About">About</a></li>
                <li><a asp-controller="Home" asp-action="Services">services</a></li>
                <li><a asp-controller="Home" asp-action="Branches">Branches</a></li>
                <li><a asp-controller="Home" asp-action="Blog">Blog</a></li>
                <li><a asp-controller="Home" asp-action="Careertype">Careers</a></li>
                <li class="active"><a asp-controller="Home" asp-action="Contact">Contact</a></li>

            </ul>
        </nav>
    </div>
}
<!--== Contact Page Area Start ==-->

<div class="contact-page-wrao section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 m-auto">
                <div class="contact-form">
                    <form asp-action="Contact" asp-controller="Home" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div class="name-input">
                                    <input asp-for="FullName" type="text" placeholder="Full Name">
                                    <span asp-validation-for="FullName" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6">
                                <div class="email-input">
                                    <input asp-for="EmailAddress" type="email" placeholder="Email Address">
                                    <span asp-validation-for="EmailAddress" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div class="website-input">
                                    <input asp-for="PhoneNumber" type="text" placeholder="Phone Number">
                                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6">
                                <div class="subject-input">
                                    <input asp-for="Subject" type="text" placeholder="Subject">
                                    <span asp-validation-for="Subject" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <div class="message-input">
                            <textarea asp-for="Message" type="text" cols="30" rows="10" placeholder="Message">Message</textarea>
                            <span asp-validation-for="Message" class="text-danger"></span>
                            @*@Html.Recaptcha(RecaptchaSettings.Value)*@
                        </div>

                        <div class="g-recaptcha" data-sitekey="6LceIegUAAAAAOUVzigTDmXMJQIJBM_Jb7no6KB8"></div>

                        <div class="input-submit">
                            <button class="book-now-btn" type="submit"><h4 style="color:white;">Submit Message</h4></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<!--== Contact Page Area End ==-->

<div id="confirmbox" class="modal fade confirmbox">
    <div class="modal-dialog">
        <div class="modal-content" style="width:600px; padding:0px;">
            <div class="modal-body">

                <div class="col-lg-12 popup-message-box">

                    <div class="popup-toptext">
                        <div class="row">

                            <h1 class="popup-toptext-style">Application recieved</h1>

                        </div>



                    </div>
                    <div class="row">
                        <p style="margin-left:15px; margin-top:20px;">We have sent a confirmation to your email.</p>
                    </div>

                    <div class="row" style="padding-top:20px;">
                        <h4 style="margin-left:15px;">Thank you for your message</h4>
                    </div>
                    <div class="row">
                        <p style="margin-left:15px; margin-top:10px; width:95%; height:100px;">We appreciate that you’ve taken the time to write us. We’ll get back to you very soon.</p>
                    </div>

                    <div class="row">
                        <form>
                            <a asp-action="Index"><button type="button" class="popup-back-btn" name="button">Back to home</button></a>
                        </form>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    var value = "@ViewData["content"]";
    $(document).ready(function() {

        if (value == "confirmbox") {
            $(".confirmbox").modal('show');
        }

    });

</script>

<!--== Map Area Start ==-->
<div class="maparea">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2426.7472508077753!2d-1.8429471071436858!3d52.53800700528087!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xdebad07d7bec8e8c!2sCrest+Couriers!5e0!3m2!1sfr!2suk!4v1545772849336" width="800" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
<!--== Map Area End ==-->

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}
