@{
    Layout = null;
}
<!DOCTYPE html>
<html class="no-js" lang="zxx">

<head>

    <meta name="google-site-verification" content="IPEohtqr9c-skD6pDpjollmUhlJhm_L5OABUoI-7Z-M" />
    <meta name="google-site-verification" content="lvUpk8IUvEaYY4Z8ZGPZTxYMSjaoATJN-WqbsYR8d4w" />
    <meta name="msvalidate.01" content="368D1577D331D83092E9A7CA833AA364" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="Courier, Courier service, Courier service Birmingham, Courier service Wolverhampton, Courier service Tamworth, Courier service Solihull, Courier service Sutton Coldfield">
    <meta name="keywords" content="Courier, Courier service, Courier service Birmingham, same day courier Birmingham, same say delivery Birmingham">
    <!--=== Favicon ===-->
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />

    <!-- TrustBox script -->
    <script type="text/javascript" src="//widget.trustpilot.com/bootstrap/v5/tp.widget.bootstrap.min.js" async></script>
    <!-- End TrustBox script -->

    <title>Crest Couriers</title>

    <link href="~/css/mystyle.css" rel="stylesheet">
    <!--=== Bootstrap CSS ===-->
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <!--=== Slicknav CSS ===-->
    <link href="~/css/plugins/slicknav.min.css" rel="stylesheet">
    <!--=== Magnific Popup CSS ===-->
    <link href="~/css/plugins/magnific-popup.css" rel="stylesheet">
    <!--=== Owl Carousel CSS ===-->
    <link href="~/css/plugins/owl.carousel.min.css" rel="stylesheet">
    <!--=== Gijgo CSS ===-->
    <link href="~/css/plugins/gijgo.css" rel="stylesheet">
    <!--=== FontAwesome CSS ===-->
    <link href="~/css/font-awesome.css" rel="stylesheet">
    <!--=== Theme Reset CSS ===-->
    <link href="~/css/reset.css" rel="stylesheet">
    <!--=== Main Style CSS ===-->
    <link href="style.css" rel="stylesheet">
    <!--=== Responsive CSS ===-->
    <link href="~/css/responsive.css" rel="stylesheet">




    <!--[if lt IE 9]>
        <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>




<body class="loader-active">

    <!--== Preloader Area Start ==-->
    <div class="preloader">
        <div class="preloader-spinner">
            <div class="loader-content">
                <img src="~/img/preloader.gif" alt="">
            </div>
        </div>
    </div>
    <!--== Preloader Area End ==-->

    <!--== Header Area Start ==-->
    <header id="header-area" class="fixed-top">
        <!--== Header Top Start ==-->
        <div id="header-top" class="d-none d-xl-block">
            <div class="container">
                <div class="row">
                    <!--== Single HeaderTop Start ==-->
                    <div class="col-lg-3 text-left">
                        <i class="fa fa-map-marker"></i> Birmingham, UK
                    </div>
                    <!--== Single HeaderTop End ==-->

                    <!--== Single HeaderTop Start ==-->
                    <div class="col-lg-3 text-center">
                        <i class="fa fa-mobile"></i> +044 330 030 0020
                    </div>
                    <!--== Single HeaderTop End ==-->

                    <!--== Single HeaderTop Start ==-->
                    <div class="col-lg-3 text-center">
                        <i class="fa fa-clock-o"></i> Mon-Sun 24/24
                    </div>
                    <!--== Single HeaderTop End ==-->

                    <!--== Social Icons Start ==-->
                    <div class="col-lg-3 text-right">
                        <div class="header-social-icons">
                            <a href="https://twitter.com/crestcouriers" target="_blank"><i class="fa fa-twitter"></i></a>
                            <a href="https://www.facebook.com/crestcouriers" target="_blank"><i class="fa fa-facebook"></i></a>
                            <a href="https://www.pinterest.co.uk/crestcouriers" target="_blank"><i class="fa fa-pinterest"></i></a>
                            <a href="https://www.instagram.com/crestcouriers" target="_blank"><i class="fa fa-instagram"></i></a>
                            <a href="https://www.linkedin.com/company/crestcouriers" target="_blank"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                    <!--== Social Icons End ==-->
                </div>
            </div>
        </div>
        <!--== Header Top End ==-->

        <!--== Header Bottom Start ==-->
        <div id="header-bottom">
            <div class="container">
                <div class="row">
                    <!--== Logo Start ==-->
                    <div class="col-lg-4">
                        <a  asp-controller="Home" asp-action="Index" class="logo">
                            <img src="~/img/logo.png" alt="JSOFT">
                        </a>
                    </div>
                    <!--== Logo End ==-->

                    <!--== Main Menu Start ==-->
                    <div class="col-lg-8 d-none d-xl-block">
                        <nav class="mainmenu alignright">
                            <ul>
                                <li class="active">
                                    <a href="index.html">Home</a>

                                </li>
                                <li><a asp-controller="Home" asp-action="About">About</a></li>
                                <li><a asp-controller="Home" asp-action="Services">Services</a></li>
                                <li><a asp-controller="Home" asp-action="Branches">Branches</a></li>
                                <li><a asp-controller="Home" asp-action="Blog">Blog</a></li>
                                <li><a asp-controller="Home" asp-action="Careertype">Careers</a></li>
                                <li><a asp-controller="Home" asp-action="Contact">Contact</a></li>
                            </ul>
                        </nav>
                    </div>
                    <!--== Main Menu End ==-->
                </div>
            </div>
        </div>
        <!--== Header Bottom End ==-->
    </header>
    <!--== Header Area End ==-->

    <!--== Slider Area Start ==-->
    <section id="slider-area">
        <!--== slide Item One ==-->
        <div class="single-slide-item overlay">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="book-a-car">
                            <form>
                                <!--== Pick Up Location ==-->
                                <div class="pickup-location book-item">
                                    <h4>PICK-UP LOCATION:</h4>
                                    <select class="custom-select">
                                      <option selected>Select</option>
                                      <option value="1">Aberdeen</option>
                                      <option value="2">Armagh</option>
                                      <option value="3">Bangor</option>
                                      <option value="3">Bath</option>
                                      <option value="1">Belfast</option>
                                      <option value="2">Birmingham</option>
                                      <option value="3">Bradford</option>
                                      <option value="3">Brighton</option>
                                      <option value="1">Bristol</option>
                                      <option value="2">Cambridge</option>
                                      <option value="3">Canterbury</option>
                                      <option value="3">Cardiff</option>
                                      <option value="1">Carlisle</option>
                                      <option value="2">Chelmsford</option>
                                      <option value="3">Chester</option>
                                      <option value="3">Chichester</option>
                                      <option value="1">Coventry</option>
                                      <option value="2">Derby</option>
                                      <option value="3">Derry</option>
                                      <option value="3">Dundee</option>
                                      <option value="1">Durham</option>
                                      <option value="2">Edinburgh</option>
                                      <option value="2">Ely</option>
                                      <option value="2">Exeter</option>
                                      <option value="2">Glasgow</option>
                                      <option value="2">Gloucester</option>
                                      <option value="2">Hereford</option>
                                      <option value="2">Inverness</option>
                                      <option value="2">Kingston upon Hull</option>
                                      <option value="2">Lancaster</option>
                                      <option value="2">Leeds</option>
                                      <option value="2">Leicester</option>
                                      <option value="2">Lichfield</option>
                                      <option value="2">Lincoln</option>
                                      <option value="2">Lisburn</option>
                                      <option value="2">Liverpool</option>
                                      <option value="2">London</option>
                                      <option value="2">Manchester</option>
                                      <option value="2">Newcastle upon Tyne</option>
                                      <option value="2">Newport</option>
                                      <option value="2">Newry</option>
                                      <option value="2">Norwich</option>
                                      <option value="2">Nottingham</option>
                                      <option value="2">Oxford</option>
                                      <option value="2">Perth</option>
                                      <option value="2">Peterborough</option>
                                      <option value="2">Plymouth</option>
                                      <option value="2">Portsmouth</option>
                                      <option value="2">Preston</option>
                                      <option value="2">Ripon</option>
                                      <option value="2">St Albans</option>
                                      <option value="2">St Asaph</option>
                                      <option value="2">St Davids</option>
                                      <option value="2">Salford</option>
                                      <option value="2">Salisbury</option>
                                      <option value="2">Sheffield</option>
                                      <option value="2">Southampton</option>
                                      <option value="2">Stirling</option>
                                      <option value="2">Stoke-on-Trent</option>
                                      <option value="2">Sunderland</option>
                                      <option value="2">Swansea</option>
                                      <option value="2">Truro</option>
                                      <option value="2">Wakefield</option>
                                      <option value="2">Wells</option>
                                      <option value="2">City of Westminster</option>
                                      <option value="2">Winchester</option>
                                      <option value="2">Wolverhampton</option>
                                      <option value="2">Worcester</option>
                                      <option value="2">York</option>
                                    </select>
                                </div>
                                <!--== Pick Up Location ==-->

                                <!--== Delivery Location ==-->
                                <div class="pickup-location book-item">
                                    <h4>DELIVERY LOCATION:</h4>
                                    <select class="custom-select">
                                      <option selected>Select</option>
                                      <option value="1">Aberdeen</option>
                                      <option value="2">Armagh</option>
                                      <option value="3">Bangor</option>
                                      <option value="3">Bath</option>
                                      <option value="1">Belfast</option>
                                      <option value="2">Birmingham</option>
                                      <option value="3">Bradford</option>
                                      <option value="3">Brighton</option>
                                      <option value="1">Bristol</option>
                                      <option value="2">Cambridge</option>
                                      <option value="3">Canterbury</option>
                                      <option value="3">Cardiff</option>
                                      <option value="1">Carlisle</option>
                                      <option value="2">Chelmsford</option>
                                      <option value="3">Chester</option>
                                      <option value="3">Chichester</option>
                                      <option value="1">Coventry</option>
                                      <option value="2">Derby</option>
                                      <option value="3">Derry</option>
                                      <option value="3">Dundee</option>
                                      <option value="1">Durham</option>
                                      <option value="2">Edinburgh</option>
                                      <option value="2">Ely</option>
                                      <option value="2">Exeter</option>
                                      <option value="2">Glasgow</option>
                                      <option value="2">Gloucester</option>
                                      <option value="2">Hereford</option>
                                      <option value="2">Inverness</option>
                                      <option value="2">Kingston upon Hull</option>
                                      <option value="2">Lancaster</option>
                                      <option value="2">Leeds</option>
                                      <option value="2">Leicester</option>
                                      <option value="2">Lichfield</option>
                                      <option value="2">Lincoln</option>
                                      <option value="2">Lisburn</option>
                                      <option value="2">Liverpool</option>
                                      <option value="2">London</option>
                                      <option value="2">Manchester</option>
                                      <option value="2">Newcastle upon Tyne</option>
                                      <option value="2">Newport</option>
                                      <option value="2">Newry</option>
                                      <option value="2">Norwich</option>
                                      <option value="2">Nottingham</option>
                                      <option value="2">Oxford</option>
                                      <option value="2">Perth</option>
                                      <option value="2">Peterborough</option>
                                      <option value="2">Plymouth</option>
                                      <option value="2">Portsmouth</option>
                                      <option value="2">Preston</option>
                                      <option value="2">Ripon</option>
                                      <option value="2">St Albans</option>
                                      <option value="2">St Asaph</option>
                                      <option value="2">St Davids</option>
                                      <option value="2">Salford</option>
                                      <option value="2">Salisbury</option>
                                      <option value="2">Sheffield</option>
                                      <option value="2">Southampton</option>
                                      <option value="2">Stirling</option>
                                      <option value="2">Stoke-on-Trent</option>
                                      <option value="2">Sunderland</option>
                                      <option value="2">Swansea</option>
                                      <option value="2">Truro</option>
                                      <option value="2">Wakefield</option>
                                      <option value="2">Wells</option>
                                      <option value="2">City of Westminster</option>
                                      <option value="2">Winchester</option>
                                      <option value="2">Wolverhampton</option>
                                      <option value="2">Worcester</option>
                                      <option value="2">York</option>
                                    </select>
                                </div>
                                <!--== Delivery Location ==-->

                                <!--== Pick Up Date ==-->
                                <div class="pick-up-date book-item">
                                    <h4>PICK-UP DATE:</h4>
                                    <input id="startDate" placeholder="Pick Up Date" />

                                </div>
                                <!--== Pick Up Location ==-->

                                <!--== Car Choose ==-->
                                <div class="choose-car-type book-item">
                                    <h4>CHOOSE VAN SIZE:</h4>
                                    <select class="custom-select">
                                      <option selected>Select</option>
                                      <option value="1">Small</option>
                                      <option value="2">Medium</option>
                                      <option value="3">Large</option>
                                    </select>
                                </div>
                                <!--== Car Choose ==-->

                                <div class="book-button text-center">
                                    <button class="book-now-btn">Book Now</button>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="col-lg-7 text-right">
                        <div class="display-table">
                            <div class="display-table-cell">
                                <div class="slider-right-text">
                                    <h1>BOOK A COURIER NOW!</h1>
                                    <p>The UK’s Leading Nationwide Bespoke Sameday Courier <br> Call Us Free 24/365 on 0330 030 0020</p>

                                    <br>
                                    <a href="https://uk.trustpilot.com/review/crestcouriers.co.uk" target="_blank" class="trustpilot-style">
                                       Excelent
                                       <img src="~/img/stars.png" style="margin-bottom:3px; margin-left:2px;" width="100px" />
                                       Trustpilot
                                    </a>

                                    <!-- TrustBox widget - Micro Review Count -->
                                    @*<div align="right" data-locale="en-GB" data-template-id="5419b6a8b0d04a076446a9ad" data-businessunit-id="5eea86fde9d76f000177eb8b" data-style-height="35px" data-style-width="35.2%" data-theme="dark">
                                        <a href="https://uk.trustpilot.com/review/crestcouriers.co.uk" target="_blank" rel="noopener">Trustpilot</a>
                                    </div>*@
                                    <!-- End TrustBox widget -->

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--== slide Item One ==-->
    </section>
    <!--== Slider Area End ==-->

    <!--== About Us Area Start ==-->
    <section id="about-area" class="section-padding">
        <div class="container">
            <div class="row">
                <!-- Section Title Start -->
                <div class="col-lg-12">
                    <div class="section-title  text-center">
                        <h2>About us</h2>
                        <span class="title-line"><i class="fa fa-car"></i></span>
                        <p>When it comes to sameday delivery; we’re the experts.</p>
                    </div>
                </div>
                <!-- Section Title End -->
            </div>

            <div class="row">
                <!-- About Content Start -->
                <div class="col-lg-6">
                    <div class="display-table">
                        <div class="display-table-cell">
                            <div class="about-content">
                                <p>Established in 2007, we’ve been leading the way in creating bespoke sameday solutions for almost a decade. We understand that a ‘one-size fits all’ approach doesn’t always offer the best service, that’s why our experienced account managers work with businesses to create a courier service that is tailored to meet their individual requirements.</p>

                                <p>And with innovation at the heart of our values, we are committed to investing in technologies that will continually deliver more for our customers and keep Crown at the forefront of an evolving industry.</p>
                                <div class="about-btn">
                                    <a href="">Book a Courier</a>
                                    <a href="contact.html">Contact Us</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- About Content End -->

                <!-- About Video Start -->
                <div class="col-lg-6">
                    <div class="about-video">
                        <iframe src="https://player.vimeo.com/video/308209664?title=0&byline=0&portrait=0"></iframe>
                    </div>
                </div>
                <!-- About Video End -->
            </div>
        </div>
    </section>
    <!--== About Us Area End ==-->

    <!--== Partner Area Start ==-->
    <div id="partner-area">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="partner-content-wrap">
                        <!-- Single Partner Start -->
                        <div class="single-partner">
                            <div class="display-table">
                                <div class="display-table-cell">
                                    <img src="~/img/partner/partner-logo-1.png" alt="JSOFT">
                                </div>
                            </div>
                        </div>
                        <!-- Single Partner End -->

                        <!-- Single Partner Start -->
                        <div class="single-partner">
                            <div class="display-table">
                                <div class="display-table-cell">
                                    <img src="~/img/partner/partner-logo-2.png" alt="JSOFT">
                                </div>
                            </div>
                        </div>
                        <!-- Single Partner End -->

                        <!-- Single Partner Start -->
                        <div class="single-partner">
                            <div class="display-table">
                                <div class="display-table-cell">
                                    <img src="~/img/partner/partner-logo-3.png" alt="JSOFT">
                                </div>
                            </div>
                        </div>
                        <!-- Single Partner End -->

                        <!-- Single Partner Start -->
                        <div class="single-partner">
                            <div class="display-table">
                                <div class="display-table-cell">
                                    <img src="~/img/partner/partner-logo-4.png" alt="JSOFT">
                                </div>
                            </div>
                        </div>
                        <!-- Single Partner End -->

                        <!-- Single Partner Start -->
                        <div class="single-partner">
                            <div class="display-table">
                                <div class="display-table-cell">
                                    <img src="~/img/partner/partner-logo-5.png" alt="JSOFT">
                                </div>
                            </div>
                        </div>
                        <!-- Single Partner End -->

                        <!-- Single Partner Start -->
                        <div class="single-partner">
                            <div class="display-table">
                                <div class="display-table-cell">
                                    <img src="~/img/partner/partner-logo-1.png" alt="JSOFT">
                                </div>
                            </div>
                        </div>
                        <!-- Single Partner End -->

                        <!-- Single Partner Start -->
                        <div class="single-partner">
                            <div class="display-table">
                                <div class="display-table-cell">
                                    <img src="~/img/partner/partner-logo-4.png" alt="JSOFT">
                                </div>
                            </div>
                        </div>
                        <!-- Single Partner End -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--== Partner Area End ==-->



    <!--== Fun Fact Area Start ==-->
    <section id="funfact-area" class="overlay section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-11 col-md-12 m-auto">
                    <div class="funfact-content-wrap">
                        <div class="row">
                            <!-- Single FunFact Start -->
                            <div class="col-lg-4 col-md-6">
                                <div class="single-funfact">
                                    <div class="funfact-icon">
                                        <i class="fa fa-smile-o"></i>
                                    </div>
                                    <div class="funfact-content">
                                        <p><span class="counter">550</span>+</p>
                                        <h4>HAPPY CLIENTS</h4>
                                    </div>
                                </div>
                            </div>
                            <!-- Single FunFact End -->

                            <!-- Single FunFact Start -->
                            <div class="col-lg-4 col-md-6">
                                <div class="single-funfact">
                                    <div class="funfact-icon">
                                        <i class="fa fa-car"></i>
                                    </div>
                                    <div class="funfact-content">
                                        <p><span class="counter">10</span>+</p>
                                        <h4>VEHICLES IN STOCK</h4>
                                    </div>
                                </div>
                            </div>
                            <!-- Single FunFact End -->

                            <!-- Single FunFact Start -->
                            <div class="col-lg-4 col-md-6">
                                <div class="single-funfact">
                                    <div class="funfact-icon">
                                        <i class="fa fa-bank"></i>
                                    </div>
                                    <div class="funfact-content">
                                        <p><span class="counter">500</span>+</p>
                                        <h4>subcontractorS</h4>
                                    </div>
                                </div>
                            </div>
                            <!-- Single FunFact End -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--== Fun Fact Area End ==-->



    <!--== Testimonials Area Start ==-->
    <section id="testimonial-area" class="section-padding">
        <div class="container">
            <div class="row">
                <!-- Section Title Start -->
                <div class="col-lg-12">
                    <div class="section-title  text-center">
                        <h2>Testimonials</h2>
                        <span class="title-line"><i class="fa fa-car"></i></span>
                        <p>We are here for you 24 hours a day, 7 days a week.</p>
                    </div>
                </div>
                <!-- Section Title End -->
            </div>

            <div class="row">
                <div class="col-lg-8 col-md-12 m-auto">
                    <div class="testimonial-content">
                        <!--== Single Testimoial Start ==-->
                        <div class="single-testimonial">
                            <p>Firstly, thank you very much for all your help! You guys have been brilliant throughout the whole process and we certainly look forward to dealing with you in the future.</p>
                            <h3>Sara Khan</h3>
                            <div class="client-logo">
                                <img src="~/img/client/client-pic-1.jpg" alt="JSOFT">
                            </div>
                        </div>
                        <!--== Single Testimoial End ==-->

                        <!--== Single Testimoial Start ==-->
                        <div class="single-testimonial">
                            <p>I would like to personally thank Crest Couriers for going above and beyond a service of excellence in such hazardous conditions and delivering the goods in time.</p>
                            <h3>Amader Tuni</h3>
                            <div class="client-logo">
                                <img src="~/img/client/client-pic-2.jpg" alt="JSOFT">
                            </div>
                        </div>
                        <!--== Single Testimoial End ==-->

                        <!--== Single Testimoial Start ==-->
                        <div class="single-testimonial">
                            <p>On a personal note, I’d just like to say that myself and everyone here at AAR are extremely impressed with the way Crest Couriers act as a freight company.</p>
                            <h3>Andrew Smith</h3>
                            <div class="client-logo">
                                <img src="~/img/client/client-pic-3.jpg" alt="JSOFT">
                            </div>
                        </div>
                        <!--== Single Testimoial End ==-->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--== Testimonials Area End ==-->




    <!--== Footer Area Start ==-->
    <section id="footer-area">
        <!-- Footer Widget Start -->
        <div class="footer-widget-area">
            <div class="container">
                <div class="row">
                    <!-- Single Footer Widget Start -->
                    <div class="col-lg-4 col-md-6">
                        <div class="single-footer-widget">
                            <h2>About Us</h2>
                            <div class="widget-body">
                                <img src="~/img/logo.png" alt="JSOFT">
                                <p>Let’s keep in touch!
Enter your email address to receive updates and occasional offers.</p>

                                <div class="newsletter-area">
                                    <form action="index.html">
                                        <input type="email" placeholder="Subscribe Our Newsletter">
                                        <button type="submit" class="newsletter-btn"><i class="fa fa-send"></i></button>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- Single Footer Widget End -->

                    <!-- Single Footer Widget Start -->
                    <div class="col-lg-4 col-md-6">
                        <div class="single-footer-widget">
                            <h2>Recent Posts</h2>
                            <div class="widget-body">
                                <ul class="recent-post">
                                    <li>
                                        <a href="">
                                           Celebrating Our People!
                                           <i class="fa fa-long-arrow-right"></i>
                                       </a>
                                    </li>
                                    <li>
                                        <a href="">
                                          It’s Road Safety Week!
                                           <i class="fa fa-long-arrow-right"></i>
                                       </a>
                                    </li>
                                    <li>
                                        <a href="">
                                           Open Throughout Holidays 24/7
                                           <i class="fa fa-long-arrow-right"></i>
                                       </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            Battle Of Britain Grasstrack Race
                                           <i class="fa fa-long-arrow-right"></i>
                                       </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- Single Footer Widget End -->

                    <!-- Single Footer Widget Start -->
                    <div class="col-lg-4 col-md-6">
                        <div class="single-footer-widget">
                            <h2>get touch</h2>
                            <div class="widget-body">
                                <p>Our experts are ready to deliver the solutions you need 365/24/7. Call or email us now.</p>

                                <ul class="get-touch">
                                    <li><i class="fa fa-map-marker"></i> Birmingham, UK</li>
                                    <li><i class="fa fa-mobile"></i> +44 330 030 0020</li>
                                    <li><i class="fa fa-envelope"></i> admin@crestcouriers.com</li>
                                </ul>
                                <a href="#" class="map-show" target="_blank">Show Location</a>
                            </div>
                        </div>
                    </div>
                    <!-- Single Footer Widget End -->
                </div>
            </div>
        </div>
        <!-- Footer Widget End -->

        <!-- Footer Bottom Start -->
        <div class="footer-bottom-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer Bottom End -->
    </section>
    <!--== Footer Area End ==-->

    <!--== Scroll Top Area Start ==-->
    <div class="scroll-top">
        <img src="~/img/scroll-top.png" alt="JSOFT">
    </div>
    <!--== Scroll Top Area End ==-->

    <!--=======================Javascript============================-->
    <!--=== Jquery Min Js ===-->
    <script src="~/js/jquery-3.2.1.min.js"></script>
    <!--=== Jquery Migrate Min Js ===-->
    <script src="~/js/jquery-migrate.min.js"></script>
    <!--=== Popper Min Js ===-->
    <script src="~/js/popper.min.js"></script>
    <!--=== Bootstrap Min Js ===-->
    <script src="~/js/bootstrap.min.js"></script>
    <!--=== Gijgo Min Js ===-->
    <script src="~/js/plugins/gijgo.js"></script>
    <!--=== Vegas Min Js ===-->
    <script src="~/js/plugins/vegas.min.js"></script>
    <!--=== Isotope Min Js ===-->
    <script src="~/js/plugins/isotope.min.js"></script>
    <!--=== Owl Caousel Min Js ===-->
    <script src="~/js/plugins/owl.carousel.min.js"></script>
    <!--=== Waypoint Min Js ===-->
    <script src="~/js/plugins/waypoints.min.js"></script>
    <!--=== CounTotop Min Js ===-->
    <script src="~/js/plugins/counterup.min.js"></script>
    <!--=== YtPlayer Min Js ===-->
    <script src="~/js/plugins/mb.YTPlayer.js"></script>
    <!--=== Magnific Popup Min Js ===-->
    <script src="~/js/plugins/magnific-popup.min.js"></script>
    <!--=== Slicknav Min Js ===-->
    <script src="~/js/plugins/slicknav.min.js"></script>

    <!--=== Mian Js ===-->
    <script src="~/js/main.js"></script>

</body>


</html>
