.career-type-box {
    width: 100%;
    height: 250px;
    float: left;
    margin-bottom: 30px;
    background-color: #cccccc;
}

.career-typecategory {
    width: 53%;
    padding-top: 50px;
    margin: auto;
    height: 720px;
}

.career-type-title {
    margin-left: 2%;
}

.career-type-title-text {
    font-family: sans-serif;
    font-size: 30px;
}

.career-type-head {
    font-family: sans-serif;
    font-weight: bold;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 0;
    font-size: 16px;
    color: #333333
}

.career-type-body {
    font-family: sans-serif;
    font-size: 15px;
    margin-top: 10px;
    margin-left: 20px;
    color: #7c7c7c;
}

.career-type-text {
    height: 150px;
    margin: 5px;
}

.career-type-button {
    height: 49px;
    padding-right: 25px;
}

.career-type-button-style {
    margin: 30px;
    width: 130px;
    height: 45px;
    border-style: none;
    background-color: red;
    float: right;
    color: white;
}

.career-infocategory {
    width: 53%;
    margin: auto;
    height: 1000px;
    background-color: white;
    margin-top: 100px;
    margin-bottom: 100px;
}

.career-info-title {
    margin-left: 2%;
}

.career-info-row {
    float: left;
    width: 47%;
    height: 950px;
    margin: 1.5%;
}

.career-info-row-text {
    font-family: sans-serif;
    font-size: 30px;
}

.career-info-paragraph-title {
    font-family: sans-serif;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 10px;
}

.career-info-paragraph {
    font-family: sans-serif;
    font-size: 14px;
    line-height: 2;
    text-align: justify;
}

.career-info-details {
    width: 100%;
    height: 450px;
}

.career-info-details-title {
    width: 100%;
    height: 50px;
    background-color: #dddddd;
}

.career-info-details-title-text {
    font-family: sans-serif;
    margin: 10px;
    padding: 16px;
}

.career-info-details-content {
    width: 100% - 2px;
    height: auto;
    border-style: solid;
    border-color: #dddddd;
    border-width: 2px;
}

.career-info-details-item {
    width: 100%;
    height: 65px;
    float: left;
}

.career-info-details-item-text {
    font-family: sans-serif;
    margin: 0 auto;
    padding: 23px;
    width: 40%;
    float: left;
}

.career-info-line-style {
    margin: auto;
    width: 90%;
    opacity: 100%;
}

.career-info-details-button {
    float: right;
    margin: 10px;
}

.career-info-button-style {
    margin: 10px;
    width: 130px;
    height: 45px;
    border-style: none;
    background-color: red;
    float: right;
    color: white;
}

.career-info-map {
    width: 100%;
    height: 450px;
    background-color: orange;
}

.career-info-map-area {
    width: 100% - 2px;
    height: 400px;
    background-color: white;
    margin: 0 auto;
    border-style: solid;
    border-width: 2px;
    border-color: #dddddd;
}

.map-style {
    margin: 5%;
}

.table > tbody > tr > td,
.table > tbody > tr > th {
    margin: 0 auto;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 30px;
    padding-right: 18px;
}

.branches-left-box
{
  width: 100%;
  height: 100%;


}

.branches-right-box
{
  width: 100%;
  height: 740px;

}

.branches-cities
{
  height: 50px;
  margin-top: 25px;
  background-color: #cccccc
}

.branches-cityname-style
{
  font-family: sans-serif;
  padding-left: 20px;
  padding-top: 18px;
}

.branches-right-head
{
  background-color: #cccccc;
  height: 50px;
  margin-top: 25px;
}

.branches-right-mapbody
{

  border: solid 1px #cccccc;
  height: 690px;
  padding: 25px;

}

.popup-message-box
{
  background-color: #ffffff;
  margin: auto;
  height: 460px;
  margin-top:20px;

}

.popup-toptext
{
  background-color: #3d9595;
  height: 200px;
  margin: auto;
  padding-top: 45px;

}

.popup-toptext-style
{
  margin: auto;
  text-align:center;
  margin-top:35px;
  color: white;
}

.popup-back-btn
{
  width: 150px;
  height: 50px;
  margin-left: 15px;
  border: none;
  background-color: green;
  color: white;
}

.square
{
    width:15px;
    height:15px;
    background-color: red;
    float:left;
    margin-top: 17px;
    margin-left:20px;
    margin-right:10px;
}