input
{
    outline:none;
}

.container-fuid {
    display: flex;
    flex-flow: column;
}

.login-logo-location
{
  margin-bottom: 50px;
  text-align: center;
  margin:0 auto;
}

.input-div-location
{
  margin:0 auto;
  width: 300px;
}

.input-div-location-right {
    margin: 0 auto;
    margin-right: 0px;
    width: 300px;
    float: right;
}

.input-div-location-left {
    margin: 0 auto;
    margin-left: 0px;
    width: 300px;
    float: left;
}

.button-div-location
{
  margin:0 auto;
  text-align: center;
}

.additional-text
{
  margin-top: 50px;
  text-align: center;

}

.login-single-text {
    text-align: center;
    margin: 0 auto;
    color: red;
    text-decoration: none !important;
}

.login-single-text:hover {
    text-align: center;
    margin: 0 auto;
    color: red;
    text-decoration: none !important;
}

.login-remember-me {
    text-align: left;
    padding-top:20px;
    color: red;
    text-decoration: none !important;
}

.login-row-style {
    margin-top: 150px;
    box-shadow: 0px 0px 30px 10px #e7e7e7;
    height: 600px;
}

.login-image {
    height: 600px;
    background-color: #cc4545;
    padding: 0;
    position: relative;
    overflow: hidden;
    border: solid 1px #e0e0e0;
    border-right: none;
}

.login-image-style {
    max-height: 100%;
    position: absolute;
    top: -9999px;
    left: -9999px;
    right: -9999px;
    bottom: -9999px;
    margin: auto;
}

.login-form-area {
    height: 600px;
    padding-top: 100px;
    border: solid 1px #e0e0e0;
    border-left: none;
}

.Register-image {
    height: 600px;
    background-color: #cc4545;
    padding: 0;
    position: relative;
    overflow: hidden;
    border: solid 1px #e0e0e0;
    border-right: none;
}

.Register-form-area {
    height: 600px;
    padding-top: 100px;
    border: solid 1px #e0e0e0;
    border-left: none;
}

.panel-option {

    text-decoration: none;
    height: 50px;
    width: 100%;
    padding-left: 15px;
    padding-top: 12px;
    color: white;
}

.panel-option:hover {

    
    height: 50px;
    width: 100%;
    padding-left: 15px;
    padding-top: 12px;
    color: red;
    background-color: white;
}

.panel-option-active {

    text-decoration: none;
    height: 50px;
    width: 100%;
    padding-left: 15px;
    padding-top: 12px;
    background-color: white;
    color: red;
    font-weight: bold;
}

.last-order
{

  width: 90%;
  margin: auto;
  margin-top: 80px;
  height: 200px;
  padding: 0;

}

.list-order
{

  width: 90%;
  margin: auto;

  height: 50px;

}

.list-title
{

  width: 90%;
  margin: auto;
  margin-top: 80px;
  height: 50px;

}

.list-title-item
{

  width: 10%;
  height: 100%;
  float: left;
  padding-top: 6px;

}

.admin-list-title-item
{

  width: 16%;
  height: 100%;
  float: left;
  padding-top: 6px;

}

.user-list-title-item {
    width: 13%;
    height: 100%;
    float: left;
    padding-top: 6px;
}

.list-title-item-text
{
  font-weight: bold;
}

.list-record-button
{
  width: 5%;
  height: 100%;
  float: left;
  padding-top: 8px;
}

.username-box
{
  width: 150px;
  height: 30px;
  margin-top: 4px;
  background-color: white;
  border-radius: 25px;
  float: right;
  margin-right: 30px;
}

.username-style
{

  margin:0 auto;
  text-align: center;
  margin-top: 5px;
  padding-top: 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100px;
  max-height: 100px;

}

.circle
{

  border-radius: 25px;
  background-color: black;
  margin: 0 auto;
  float: left;
  margin-top: 5px;
  margin-left: 5px;

}

.state-line
{

width: 100%;
height: 50px;
margin-top: 50px;

}

.category-title
{

  text-align: left;

}

.order-form-input
{
  width:400px;
  height:60px;
  margin-right: 50px;
  float: left;
}

.popup-message-box
{
  background-color: #ffffff;
  margin: auto;
  height: 550px;
  padding:50px;
}

.popup-order-update
{
  background-color: #ffffff;
  margin: auto;
  height: 500px;
  padding:50px;
  padding-top: 10px;
}

.popup-admin-update
{
  background-color: #ffffff;
  margin: auto;
  height: 430px;
  padding:50px;
  padding-top: 10px;
}


.popup-user-update {
    background-color: #ffffff;
    margin: auto;
    height: 550px;
    padding: 50px;
    padding-top: 10px;
}


.popup-admin-deactive
{
  background-color: #ffffff;
  margin: auto;
  height: 200px;
  padding:50px;
  padding-top: 10px;
}

.popup-admin-delete
{
  background-color: #ffffff;
  margin: auto;
  height: 200px;
  padding:50px;
  padding-top: 10px;
}

.popup-toptext
{
  background-color: #3d9595;
  height: 200px;
  margin: auto;
  padding-top: 45px;

}

.popup-toptext-style
{
  margin: auto;
  text-align:center;
  margin-top:35px;
  color: white;
}

.update-box-header
{
  margin-left: 20px;

}

.menu-ul
{
    padding:0px;
    list-style-type:none;
}
a.menu-option-link {
    text-decoration: none !important;
}

/* For Bill Start */

/*USE IN Both*/
.panel-option {
    overflow:  auto;
}




.billDashbord {
    margin: 50px 65px;
}

.billDashbord #BillDate {
    /*background-color: teal;*/
    height:60px;
    
}
.billDashbord #BillFileDiv {
color: rgba(129, 129, 129, 0.8);
height: 360px;
font-weight: bold;
font-size: 20px;
border: dashed;
border-color: rgba(129, 129, 129, 0.5);
border-width: thick;
overflow: no-display;

}


.billDashbord #BillFile {

color: rgba(129, 129, 129, 0.8);
height: 350px;
font-weight: bold;
font-size: 20px;
border: none;
padding:0;
margin:0;
overflow: no-display;
display:none;

}


.billDashbord #BillButton {
background-color: red;
padding-bottom: 10px;
padding-top: 0px;
width: 150px;
height: 40px;
border: none;
border-radius: 3px 4px;
font-size: 15px;
font-weight: normal;
float: left;
margin-top: 20px;
margin-bottom: 50px;
text-transform: capitalize;

}



p.BillTextCenter{
    


}
.BillTextCenter {
    font-size: 22px;
    font-weight: 700;
    width: 100%;
    height: 100%;
    margin: inherit;
    overflow: hidden;
    padding-top : 150px;
   
    
}
/* For Bill End */

/* For List Of Bills Start */
#ListOfBillsPaging:hover {

    color:red;

}
.PagingColor:hover {
    

}

.PagingColor:disabled {
    color: #868e96 !important;
}

.PagingColor {

 color: red !important;

}
.active {
color: white !important;
background-color: red !important;
}
.FormsData {

margin-top:140px;
}

.BottomPaging {

margin:0px;
padding:0px;
clear : both;
position:center;
margin-top:50px;
    
    
}
/* For List Of Bills End */
#progbar01 {
    position: inherit;
    width: 80%;
    align-content: center;
    padding-top: 2px;
    margin: auto;
    padding-left:180px;
}
.progress-bar {

    background-color:red !important;

}

#bar01{


}